<a href="https://colab.research.google.com/github/poudyaldiksha/Data-Science-project/blob/main/Lesson_10_b2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 10: Python Dictionaries II

**What are Data Structures?**

In Python, data structures are used to store and organize data. They help in managing large amounts of data efficiently. Here are the main types of data structures in Python:

**Built-in Data Structures:**
- List: Ordered, mutable collection of items. Example: [1, 2, 3]
- Tuple: Ordered, immutable collection of items. Example: (1, 2, 3)
- Dictionary: Unordered collection of key-value pairs. Example: {'a': 1, 'b': 2}
- Set: Unordered collection of unique items. Example: {1, 2, 3}

**NOTE**

NumPy arrays are not considered built-in data structures in Python because they are not part of the Python standard library. Instead, they are provided by an external library called NumPy, which needs to be installed separately

### Activity 1: Python Dictionary

Similar to a Python list, a Python dictionary is also a data structure, i.e., it stores multiple values in it. **A python dictionary is a collection of key-value pairs** where each key-value pair collectively constitutes an item stored in it.

So far, you learnt about Python lists in detail. In this class , you will learn about a Python dictionary and its usefulness in terms of data storage.

An example of a key-value pair would be a specification of a laptop, as shown in the table below.

|Key         |Value                  |
|------------|-----------------------|
|Ram         |16 GB                  |
|Storage     |512 GB SSD             |
|Graphics Card|NVIDIA GTX 1650       |
|Display     |15.6 inches            |
|Battery     |4000 mAh               |
|Weight      |1.8 kg                 |
|Price (INR) |96000                  |
|Fast Charge |True                   |
|Processor   |Intel Core i7          |

Using the example shown in the table here, let's create a dictionary as a collection of key-value pairs.

A dictionary is created using curly brackets (`{}`). A key and its corresponding value are mapped using the colon (`:`) sign and each key-value pair is separated by a comma.

In [ ]:
# Activity: Create a sample dictionary
diet = { "breakfast" : " dosa", "lunch" : " roti", "dinner " : "rice"}
diet

{'breakfast': ' dosa', 'lunch': ' roti', 'dinner ': 'rice'}

In [ ]:
type(diet)

dict

In [ ]:
a ={"t":"a"}
type(a)

dict

In [ ]:
student = { "name" : "john",
             "age": 25,
             "city": "newyork"}
student

In [ ]:
#Create a dictionary as a collection of key-value pairs containing the items shown in the table above.

laptop_specs = {
    "Ram": "16 GB",# First key-value pair
    "Storage": "512 GB SSD",# Second key-value pair
    "Graphics Card": "NVIDIA GTX 1650",# Third key-value pair
    "Display": "15.6 inches",# Fourth key-value pair
    "Battery": "4000 mAh", # Fifth key-value pair
    "Weight": "1.8 kg",# Sixth key-value pair
    "Price (INR)": 96000,# Seventh key-value pair
    "Fast Charge": True,# Eighth key-value pair


}

# Printing he dictionary
laptop_specs

{'Ram': '16 GB',
 'Storage': '512 GB SSD',
 'Graphics Card': 'NVIDIA GTX 1650',
 'Display': '15.6 inches',
 'Battery': '4000 mAh',
 'Weight': '1.8 kg',
 'Price (INR)': 96000,
 'Fast Charge': True}

In the above code, we have created a Python dictionary and stored it in `laptop_specs` variable. The dictionary contains 8 key-value pairs separated by a comma. The keys are of `string` data-type and the values are a mix of `string`, `int` and `bool` data types.

**Note:**
-  Even though you store an item (a key-value pair) in a specific order, a Python dictionary disregards the order. Hence, unlike a Python list, a Python dictionary is a data structure containing an **unordered** collection of items.
-  lists maintain order based on their indices, dictionaries do not guarantee any specific order for their elements.
-  It means that you can't retreive an item from a dictionary using indices.



Behavior in Google Colab (or similar environments):

- In environments like Google Colab, you might notice that dictionaries sometimes appear to maintain the order in which items were added.
- This is due to how the environment or specific Python versions implement dictionaries. It can give the impression of order, but this behavior is not guaranteed in all Python environments or versions.

**Important Note:**

- When learning and using dictionaries, it’s important to understand and expect this unordered behavior, even if specific environments may show them differently.

### Activity 2: Empty Python Dictionary

You can also create an empty dictionary$—$a dictionary which does not have any key-value pair$—$by simply writing curly brackets `{}` only.

In [ ]:
# Create an empty dictionary.
emp_dict = {}
emp_dict

{}

In [ ]:
type(emp_dict)

dict

### Activity 3: Important Points About Python Dictionary

Here are some of the important points about a Python dictionary:

1. A key in a Python dictionary can be a `str` (string), `int` (integer), `float` (a floating-point number) and a `bool` (boolean) data-type. Additionally, it can also be a tuple. In general, any immutable Python object can be a key in a Python dictionary. The term **immutable** means **unchangeable**.

2. Any Python object (whether mutable or immutable) or a data-type can be a value in a Python dictionary.

Let's go through a few examples for keys and values in a Python dictionary.

**Booleans as keys**

In [ ]:
# Create a Python dictionary whose keys are 'True' and 'False'. You can assign them any values.
bool_as_keys = { True : "yes ", False :"no"}
bool_as_keys

{True: 'yes ', False: 'no'}

**Float-point numbers as keys**

In [ ]:
#Create a Python dictionary whose keys are some floating-point numbers. You can assign them any values.
float_as_key = {3.14:"pi",2.71:"e"}
float_as_key

{3.14: 'pi', 2.71: 'e'}

**Integers as keys**

In [ ]:
#Create a Python dictionary whose keys are integer values. You can assign them any values.
i = { 1:"one",2:"two"}
i

{1: 'one', 2: 'two'}

**Tuples as keys**

In [ ]:
# Create a Python dictionary whose keys are some tuples. You can assign them any values.
t = {(2,4,6):"even",(3,5,7):"odd"}
t

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

**Lists as values**

In [ ]:
# Create a Python dictionary whose values are some lists.
l = { "prime": [2,3,5,7,11],"odd":[1,3,5,7,9]}
l

**Dictionaries as values**

In [ ]:
diet

In [ ]:
# Create a Python dictionary whose values are some other dictionaries.
a = {"rina": diet, "john": {"a": 34,"b":45}}
a

**Tuples as values**

You will learn about tuples in detail in the upcoming classes.

In [ ]:
# Create a Python dictionary whose values are tuples.
l = { "prime": (2,3,5,7,11),"odd":(1,3,5,7,9)}
l

**Note:**

- A **key** in a dictionary must be unique. In other words, two items in a dictionary cannot have the same **key**.
- If a dictionary contains two items having the same key, then the item at the **higher index** will be accepted by the dictionary and the item at the **lower index** will be discarded.

In [ ]:
# Create a dictionary having two identical keys but different values.
dict_with_identical_keys = {'Super': 'Man', 'Hot' : 'Chocolate', 'Super' : 'Woman'}
dict_with_identical_keys

{'Super': 'Woman', 'Hot': 'Chocolate'}

In [ ]:
#Activity
dict_with_identical_keys = {'Apple': 'Fruit', 'Apple': 'Tech Company', 'Banana': 'Fruit'}
dict_with_identical_keys

{'Apple': 'Tech Company', 'Banana': 'Fruit'}

As you can see, the latest value for a key overrides its previous value.

**Note:** Two different keys in a dictionary can have the same value.

In [ ]:
# Create a dictionary having two identical values but different keys.
dict_with_identical_values = {'Super' : 'Man', 'Hot' : 'Chocolate', 'Bat' : 'Man'}
dict_with_identical_values

{'Super': 'Man', 'Hot': 'Chocolate', 'Bat': 'Man'}

In [ ]:
#Activity
dict_with_identical_values = {'Apple': 'Fruit', 'Orange': 'Fruit', 'Banana': 'Fruit'}
dict_with_identical_values

{'Apple': 'Fruit', 'Orange': 'Fruit', 'Banana': 'Fruit'}

In [ ]:
len(dict_with_identical_values)

3

### Activity 4: Dictionary Length
The length of a dictionary is the number of key-value pairs contained in the dictionary.

To calculate the length of a dictionary (or number of key-value pairs contained in a dictionary), you can use the `len()`  function.

In [ ]:
# Calculate the length of the 'laptop_specs' dictionary.
len(laptop_specs)

8

---

###Activity 5: The `keys()` Function
To get a list of all the keys in a dictionary, you can use the `keys()` function using the `dictionary_name.keys()` method.

In [ ]:
laptop_specs

{'Ram': '16 GB',
 'Storage': '512 GB SSD',
 'Graphics Card': 'NVIDIA GTX 1650',
 'Display': '15.6 inches',
 'Battery': '4000 mAh',
 'Weight': '1.8 kg',
 'Price (INR)': 96000,
 'Fast Charge': True}

In [ ]:
laptop_specs.keys()

dict_keys(['Ram', 'Storage', 'Graphics Card', 'Display', 'Battery', 'Weight', 'Price (INR)', 'Fast Charge'])

In [ ]:
#Get the list of all the keys contained in 'laptop_specs' dictionary.
s= laptop_specs.keys()
type(s)

dict_keys



**Note** that the list returned by the `keys()` function is not the same as a Python list. It behaves differently as compared to a conventional Python list.

You can also use a `for` loop to print all the keys of a dictionary one after the other.

In [ ]:
# Get the list of all the keys contained in 'laptop_specs' dictionary using 'for' loop.
for i in laptop_specs.keys():
    print(i)

Ram
Storage
Graphics Card
Display
Battery
Weight
Price (INR)
Fast Charge

Actually, even if you don't use the `keys()` function, you can retrieve all the keys from a Python dictionary using a `for` loop. Let's retrieve all the keys from the `laptop_specs` dictionary without using the `keys()` function.

In [ ]:
# Retrieve all the keys present in 'laptop_specs' dictionary without using the 'keys()' function but using 'for' loop.
for i in laptop_specs:
    print(i)

Ram
Storage
Graphics Card
Display
Battery
Weight
Price (INR)
Fast Charge

---

### Activity 6: Getting A Value For A Key

Now let's learn how to retrieve a value for a key from a Python dictionary. There are two methods to do this. They are:

1. The square brackets method

2. The `get()` function


**Method I: The Square Brackets**

For a key, in a dictionary, you can retrieve its corresponding value by using the `dictionary_name[key]` method where `dictionary_name` is the variable storing a Python dictionary and `key` is the key stored in the dictionary.

In [ ]:
laptop_specs["Ram"]

'16 GB'

In [ ]:
# Print the corresponding values to each key contained in the 'my_dict' dictionary.

# Value for the first key.
print(laptop_specs['Ram'])

# Value for the second key.
print(laptop_specs['Storage'])

# Value for the third key.
print(laptop_specs['Graphics Card'])

print(laptop_specs['Display'])

# Value for the fifth key.
print(laptop_specs['Battery'])
# Value for the sixth key.
print(laptop_specs['Weight'])

# Value for the seventh key.
print(laptop_specs['Price (INR)'])

# Value for the eighth key.
print(laptop_specs['Fast Charge'])

16 GB
512 GB SSD
NVIDIA GTX 1650
15.6 inches
4000 mAh
1.8 kg
96000
True

Instead of retrieving all the values one-by-one, you can get them using a `for` loop along with keys enclosed in square brackets.

In [ ]:
laptop_specs.keys()

dict_keys(['Ram', 'Storage', 'Graphics Card', 'Display', 'Battery', 'Weight', 'Price (INR)', 'Fast Charge'])

In [ ]:
laptop_specs["Ram"]

'16 GB'

In [ ]:
for i in laptop_specs.keys()

In [ ]:
d = [1,2,3]
d[2]

3

In [ ]:
# Print all the values contained in the 'laptop_specs' dictionary using a 'for' loop, 'keys()' function & square brackets.
for i in laptop_specs.keys():
    print(laptop_specs[i])

16 GB
512 GB SSD
NVIDIA GTX 1650
15.6 inches
4000 mAh
1.8 kg
96000
True

In [ ]:
# Print all the values stored in the 'laptop_specs' dictionary using 'for' loop & the square brackets.
for i in laptop_specs:
    print(laptop_specs[i])

16 GB
512 GB SSD
NVIDIA GTX 1650
15.6 inches
4000 mAh
1.8 kg
96000
True

**Note:** In a way, the keys act like indices for a Python dictionary. Unlike a Python list, a Python dictionary does not have indices of their own because a dictionary is an **unordered** collection of items. An only ordered collection of items have indices. Also, since a Python dictionary does not have indices, it is best to use `for` loop over `while` loop to iterate through each item that is stored in a dictionary.

**Method II: The `get()` Function**

You can also use the `get()` function to get a value of a key by using the `dictionary_name.get(key)` method.

In [ ]:
# Print the corresponding values to each key contained in the 'my_dict' dictionary using the 'get()' function.

# Value for the first key.
print(laptop_specs.get('Ram'))

# Value for the second key.
print(laptop_specs.get('Storage'))

# Value for the third key.
print(laptop_specs.get('Graphics Card'))

16 GB
512 GB SSD
NVIDIA GTX 1650


Similarly, you can also use the `get()` function with `for` loop to get the value for a key.

In [ ]:
# Print all the values contained in the 'laptop_specs' dictionary using 'for' loop and the 'get()' function.
for i in laptop_specs.keys():
    print(laptop_specs.get(i))

16 GB
512 GB SSD
NVIDIA GTX 1650
15.6 inches
4000 mAh
1.8 kg
96000
True

In the code above, `for` loop iterates through each key in the list generated by the `keys()` function. Then, the `get()` function returns the value for a key. Finally, the `print()` function prints the corresponding value for each key.

---

### Activity 7: The `values()` Function

Let's learn how to get the collection of all the values contained in a Python dictionary. You can do this by using the `values()` function.

**Syntax:** `dictionary_name.values()`

In [ ]:
#  Retrieve a collection of all the values stored in the 'laptop_specs' dictionary using the 'values()' function.
laptop_specs.values()

dict_values(['16 GB', '512 GB SSD', 'NVIDIA GTX 1650', '15.6 inches', '4000 mAh', '1.8 kg', 96000, True])

In [ ]:
s = laptop_specs.values()
type(s)

dict_values

As you can see, the `values()` function has returned a list of all the values contained in the `my_dict` dictionary.

**Note** that the list returned by the `values()` function is not the same as a Python list. This list behaves differently as compared to a conventional Python list.

---

### Activity 8: The `items()` Function

You can also retrieve all the key-value pairs from a dictionary as a collection of tuples by using the `items()` function.

**Syntax:** `dictionary_name.items()` method.

In [ ]:
# Retrieve all the items stored in the 'laptop_specs' dictionary as a collection of tuples.
laptop_specs.items()

dict_items([('Ram', '16 GB'), ('Storage', '512 GB SSD'), ('Graphics Card', 'NVIDIA GTX 1650'), ('Display', '15.6 inches'), ('Battery', '4000 mAh'), ('Weight', '1.8 kg'), ('Price (INR)', 96000), ('Fast Charge', True)])

As you can see, the `items()` function has returned a list of key-value pairs contained in the dictionary. Each key-value pair is a tuple because a pair is written inside the common brackets, i.e., `()`.

**Note** that the list returned by the `items()` function is not the same as a Python list. This list behaves differently as compared to a conventional Python list.

You can also use a `for` loop to print each item contained in the list returned by the `items()` function.

In [ ]:
# Loop through each item stored in the list returned by the 'items()' function.
for item in laptop_specs.items():
  print(item)
type(item)

('Ram', '16 GB')
('Storage', '512 GB SSD')
('Graphics Card', 'NVIDIA GTX 1650')
('Display', '15.6 inches')
('Battery', '4000 mAh')
('Weight', '1.8 kg')
('Price (INR)', 96000)
('Fast Charge', True)

tuple

As you can see, using `for` loop, we have retrieved every tuple containing a key-value pair, from the `laptop_specs` dictionary.

You can also simultaneously iterate through each key-value contained in the list returned by the `items()` function.

In [ ]:
for i,j in laptop_specs.items():
    print(i,j)

Ram 16 GB
Storage 512 GB SSD
Graphics Card NVIDIA GTX 1650
Display 15.6 inches
Battery 4000 mAh
Weight 1.8 kg
Price (INR) 96000
Fast Charge True

In [ ]:
# Simultaneously iterate through each key-value pair contained in the list returned by the 'items()' function.
for key, value in laptop_specs.items():
  print(key, value)

Ram 16 GB
Storage 512 GB SSD
Graphics Card NVIDIA GTX 1650
Display 15.6 inches
Battery 4000 mAh
Weight 1.8 kg
Price (INR) 96000
Fast Charge True

As you can see, in the `for` loop, the `key` variable iterates through each key in each item and the `value` variable iterates through each value in each item contained in the list,


Then, the `print()` function prints the values stored in the `key` and `value` variables.

If you apply the same method of retrieving key-value pairs simultaneously directly from the `laptop_specs` dictionary, then you will get `ValueError`.

In [ ]:
#Simultaneously retrieve all the key-value pairs directly from the 'laptop_specs' dictionary.
for key in laptop_specs:
  print(key)

Ram
Storage
Graphics Card
Display
Battery
Weight
Price (INR)
Fast Charge

Hence, to simultaneously iterate through multiple items (or key-value pairs), it is best to have each item (or key-value pair) as a collection of tuples. You will learn about tuples in detail in the upcoming classes.

### Activity 9: Adding New Item

Let's also add the Processor of the laptop to the `laptop_specs` dictionary. So the new item is `"Processor"` and the corresponding value is `'Intel Core i7'`.

To add a new item to a dictionary, you simply have to use the square brackets as shown in the syntax below.

**Syntax:** `dictionary_name[key] = value`

where `dictionary_name` is some variable storing a dictionary.

In [ ]:
# Add 'processor' and 'Intel Core i7' as keys and values respectively to the 'laptop_specs' dictionary.
laptop_specs["processor"] = "Intel Core i7"
laptop_specs

{'Ram': '16 GB',
 'Storage': '512 GB SSD',
 'Graphics Card': 'NVIDIA GTX 1650',
 'Display': '15.6 inches',
 'Battery': '4000 mAh',
 'Weight': '1.8 kg',
 'Price (INR)': 96000,
 'Fast Charge': True,
 'processor': 'Intel Core i7'}

---

### Activity 10: The `zip()` Function

Sometimes you may require to create a dictionary from two Python lists. Consider the two lists shown below.

```
car_companies = ['Maruti Suzuki', 'Honda', 'Hyundai', 'Ford', 'Volkswagen']
car_models = [
                ['Baleno', 'Vitara Brezza', 'Ciaz'],
                'City',
                ['Verna', 'Creta'],
                ['Figo', 'EcoSport', 'Aspire'],
                ['Polo', 'Tiguan', 'Vento']
              ]
```

The `car_companies` list contains the name of the car manufacturers. The `car_models` list contains the models of cars manufactured by them.

Let's create a dictionary which maps every car model to its corresponding manufacturer. Let's store it in the `cars_dict`.

To create a dictionary from two lists, use the `zip()` and `dict()` function using the following syntax.

**Syntax:** `dictionary_name = dict(zip(list1, list2))`

where the `zip()` function joins the lists `list1` and `list2` but the `dict()` function converts the resulting object into a dictionary.

In [ ]:
import numpy as np
a = np.array(["a","b","c"])
a.ndim

1

In [ ]:
car_models = [
                ['Baleno', 'Vitara Brezza', 'Ciaz'],
                'City',
                ['Verna', 'Creta'],
                ['Figo', 'EcoSport', 'Aspire'],
                ['Polo', 'Tiguan', 'Vento']
              ]
len(car_models)

5

In [ ]:
a = ["a","b","c"]
a[1]

'b'

In [ ]:
b = [ ["1,2,3"],[1,2,3],["a","b"]]
b[2][1]

'b'

In [ ]:
car_models[4][0]

'Polo'

In [ ]:
#Create a new dictionary by joining the 'car_companies' & 'car_models' lists. Store it in the 'cars_dict' variable.
car_companies = ['Maruti Suzuki', 'Honda', 'Hyundai', 'Ford', 'Volkswagen']
car_models = [
                ['Baleno', 'Vitara Brezza', 'Ciaz'],
                'City',
                ['Verna', 'Creta'],
                ['Figo', 'EcoSport', 'Aspire'],
                ['Polo', 'Tiguan', 'Vento']
              ]

cars_dict = dict(zip(car_companies,car_models))
cars_dict

{'Maruti Suzuki': ['Baleno', 'Vitara Brezza', 'Ciaz'],
 'Honda': 'City',
 'Hyundai': ['Verna', 'Creta'],
 'Ford': ['Figo', 'EcoSport', 'Aspire'],
 'Volkswagen': ['Polo', 'Tiguan', 'Vento']}

In [ ]:
#  list cannot be a dictionary keys but tuples can be
car_companies_tup = ['Maruti Suzuki', 'Honda', 'Hyundai', 'Ford', 'Volkswagen']
car_models_tup = (
                ('Baleno', 'Vitara Brezza', 'Ciaz'),
                'City',
                ('Verna', 'Creta'),
                ('Figo', 'EcoSport', 'Aspire'),
                ('Polo', 'Tiguan', 'Vento')
)

cars_dict_tup = dict(zip(car_models,car_companies))
cars_dict_tup

{('Baleno', 'Vitara Brezza', 'Ciaz'): 'Maruti Suzuki',
 'City': 'Honda',
 ('Verna', 'Creta'): 'Hyundai',
 ('Figo', 'EcoSport', 'Aspire'): 'Ford',
 ('Polo', 'Tiguan', 'Vento'): 'Volkswagen'}

In [ ]:
cars_dict2 = dict(zip(car_models,car_companies))
cars_dict2

{('Baleno', 'Vitara Brezza', 'Ciaz'): 'Maruti Suzuki',
 'City': 'Honda',
 ('Verna', 'Creta'): 'Hyundai',
 ('Figo', 'EcoSport', 'Aspire'): 'Ford',
 ('Polo', 'Tiguan', 'Vento'): 'Volkswagen'}

In [ ]:
cars_list = list(zip(car_companies,car_models))
cars_list

[('Maruti Suzuki', ('Baleno', 'Vitara Brezza', 'Ciaz')),
 ('Honda', 'City'),
 ('Hyundai', ('Verna', 'Creta')),
 ('Ford', ('Figo', 'EcoSport', 'Aspire')),
 ('Volkswagen', ('Polo', 'Tiguan', 'Vento'))]

In [ ]:
cars_tuple = tuple(zip(car_companies,car_models))
cars_tuple

(('Maruti Suzuki', ('Baleno', 'Vitara Brezza', 'Ciaz')),
 ('Honda', 'City'),
 ('Hyundai', ('Verna', 'Creta')),
 ('Ford', ('Figo', 'EcoSport', 'Aspire')),
 ('Volkswagen', ('Polo', 'Tiguan', 'Vento')))

As you can see, a new dictionary called `cars_dict` has been created using the `zip()` and `dict()` functions.

The `zip()` function maps items of the first list with the items of the second list such that former become **keys** and later become the corresponding **values** of the keys.

**Note** that the first item contained in the first list becomes **key** for the first item in the second list and the second item in the first list becomes **key** for the second item in the second list and so on.

Instead of using the `dict()` function, if you use the `list()` function on top of the `zip()` function, you will get a Python list containing the items of the two lists as a collection of key-value pairs in tuples.

In [ ]:
# Create a new list by joining the 'car_companies' & 'car_models' lists. Store it in the 'cars_list' variable.

As you can see, the `zip()` function has clubbed the items of the `car_companies` and `car_models` as a key-value pair in a tuple and the `list()` function has created a list containing tuples.

---

#### Activity 11: List Comprehension For Dictionaries

You can also use the list comprehension method to create a Python dictionary.

Let's again map all the `car_models` items to the `car_companies` items by creating a new dictionary using the `zip()` function and the list comprehension method.

In [ ]:
a = [u for u in range(1,10)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = []
for u in range(1,10):
    a.append(u)
a
print(u)

9

In [ ]:
n = { i:k for i, k in zip(car_companies,car_models)}
n

{'Maruti Suzuki': ['Baleno', 'Vitara Brezza', 'Ciaz'],
 'Honda': 'City',
 'Hyundai': ['Verna', 'Creta'],
 'Ford': ['Figo', 'EcoSport', 'Aspire'],
 'Volkswagen': ['Polo', 'Tiguan', 'Vento']}

In [ ]:
#Create a new dictionary using the list comprehension method to map all the 'car_models' items to the car_companies items.
new_cars_dict = {key : value for key, value in zip(car_companies, car_models)}
new_cars_dict

{'Maruti Suzuki': ['Baleno', 'Vitara Brezza', 'Ciaz'],
 'Honda': 'City',
 'Hyundai': ['Verna', 'Creta'],
 'Ford': ['Figo', 'EcoSport', 'Aspire'],
 'Volkswagen': ['Polo', 'Tiguan', 'Vento']}

In [ ]:
#exam_1 = {p : q for p, q in zip(car_companies, car_models)}
#print(p,q)

The above list comprehension should be read as "*For every key & value in the object returned by the `zip()` function, add them to the dictionary*". To add the key-value pair, you simply need to write `key` followed by the colon (`:`) sign, followed by `value`.

**Syntax:** `{key : value for key, value in zip(list1, list2)}`

The variables `key` and `value` are dummy variables. You can use any variable in their places.

E.g., `{x : y for x, y in zip(list1, list2)}, {p : q for p, q in zip(list1, list2)}` etc.

---

### Activity 12: Removing Item From Dictionary

To remove an item from a dictionary, you can use the `pop()` function. Inside the `pop()` function, you have to provide the key for which the key-value pair must be removed from the dictionary.

In [ ]:
a = [1,2,3,4,5,6]
a.pop()

6

In [ ]:
laptop_specs

{'Ram': '16 GB',
 'Storage': '512 GB SSD',
 'Graphics Card': 'NVIDIA GTX 1650',
 'Display': '15.6 inches',
 'Battery': '4000 mAh',
 'Weight': '1.8 kg',
 'Price (INR)': 96000,
 'Fast Charge': True}

In [ ]:
#`Remove the item 'Ram' : '16 GB' from the 'laptop_specs' dictionary.
laptop_specs.pop("Ram")

'16 GB'

In [ ]:
laptop_specs

{'Storage': '512 GB SSD',
 'Graphics Card': 'NVIDIA GTX 1650',
 'Display': '15.6 inches',
 'Battery': '4000 mAh',
 'Weight': '1.8 kg',
 'Price (INR)': 96000,
 'Fast Charge': True,
 'processor': 'Intel Core i7'}


**Note:** The `pop()` function for a Python dictionary is different from the `pop()` function in Python list. In the case of dictionary, it takes the key of a key-value pair to remove the pair.

**Syntax:** `python_dictionary.pop(key)`

There is another function called the `popitem()` to remove an item from a dictionary. However, it removes only the last item from a dictionary.

In [ ]:
# Remove the last item from the dictionary.
laptop_specs.popitem()

('processor', 'Intel Core i7')

---

In [ ]:
del laptop_specs["Weight"]

#### Activity 13: Update Dictionary Item

Let's say the display of the laptop, whose specifications are listed in the `Display` dictionary, changes to 17.8. So, the Display item in the `laptop_specs` dictionary must be updated.

To update an item in a dictionary, you need to enclose the key for that item in square brackets followed by the equals to sign, followed by the updated value as shown in the following syntax.

**Syntax:** `dictionary_name[key] = new_value`

In [ ]:
laptop_specs

{'Storage': '512 GB SSD',
 'Graphics Card': 'NVIDIA GTX 1650',
 'Display': '15.6 inches',
 'Battery': '4000 mAh',
 'Weight': '1.8 kg',
 'Price (INR)': 96000,
 'Fast Charge': True}

In [ ]:
#  Update the price of the smartphone in the 'my_dict' dictionary.
laptop_specs["Display"] = "17.8 inches"

In [ ]:
laptop_specs

{'Storage': '512 GB SSD',
 'Graphics Card': 'NVIDIA GTX 1650',
 'Display': '17.8 inches',
 'Battery': '4000 mAh',
 'Weight': '1.8 kg',
 'Price (INR)': 96000,
 'Fast Charge': True}

In [ ]:
laptop_specs["a"] = "b"

In [ ]:
laptop_specs

{'Storage': '512 GB SSD',
 'Graphics Card': 'NVIDIA GTX 1650',
 'Display': '17.8 inches',
 'Battery': '4000 mAh',
 'Weight': '1.8 kg',
 'Price (INR)': 96000,
 'Fast Charge': True,
 'a': 'b'}

---

### Activity 14: The `in` & `not in` Keywords

To check whether a key exists in a dictionary or not, you can use the `in` keyword. If a key exists in the dictionary, then the `in` keyword will return `True`, else it will return `False`. Similarly, if a key exists in the dictionary, then the `not in` keyword will return `False`, else it will return `True`.

You have already used them in `for` loops many times.

**Syntax:** `key in dictionary_name`

**Syntax:** `key not in dictionary_name`

Let's find out whether the keys, `'Honda'` and `'Audi'` exist in the `cars_dict` or not.

In [ ]:
"b" in laptop_specs
# its working only for keys

False

In [ ]:
# Check whether the item 'Honda' exists in the 'cars_dict' dictionary using the 'in' keyword.
"Honda" in cars_dict

True

In [ ]:
#Check whether the item 'Audi' exists in the 'cars_dict' dictionary using the 'in' keyword.
"Audi" not in cars_dict

True

---

### Activity 15: The `update()` Function


The `update()` function is applied on a dictionary and it's input is another dictionary wherein both the dictionary may or may not contain the same keys. The `update()` function performs two operations:

1. It updates the existing key-value pair in a dictionary if a key exists.

2. It adds the key-value pairs which do not exist in a dictionary.

Consider the two dictionaries:

```
cars_dict = {'Ford': ['Figo', 'EcoSport', 'Aspire'],
              'Honda': 'City',
              'Hyundai': ['Verna', 'Creta'],
              'Maruti Suzuki': ['Baleno', 'Vitara Brezza', 'Ciaz'],
              'Volkswagen': ['Polo', 'Tiguan', 'Vento']}

supercars = {"Ford": "Mustang GT",
             "Lamborghini": ["Huracan", "Aventador", "Elemento"],
             "Koenigsegg": ["Agera", "Gemera", "Regera"],
             "Bugatti": "Veyron"}
```

When the `update()` function is applied on the `cars_dict` dictionary with the `supercars` dictionary as input, it updates the value of the `Ford` key and adds the other key-value pairs of the `supercars` dictionary to the `car_dict` dictionary.

In [ ]:
# Create the 'supercars' dictionary and update the 'cars_dict' dictionary with the key-value pairs of the 'supercars' dictionary.
cars_dict = {'Ford': ['Figo', 'EcoSport', 'Aspire'],
              'Honda': 'City',
              'Hyundai': ['Verna', 'Creta'],
              'Maruti Suzuki': ['Baleno', 'Vitara Brezza', 'Ciaz'],
              'Volkswagen': ['Polo', 'Tiguan', 'Vento']}

supercars = {"Ford": "Mustang GT",
             "Lamborghini": ["Huracan", "Aventador", "Elemento"],
             "Koenigsegg": ["Agera", "Gemera", "Regera"],
             "Bugatti": "Veyron"}

In [ ]:
cars_dict.update(supercars)

In [ ]:
cars_dict

{'Ford': 'Mustang GT',
 'Honda': 'City',
 'Hyundai': ['Verna', 'Creta'],
 'Maruti Suzuki': ['Baleno', 'Vitara Brezza', 'Ciaz'],
 'Volkswagen': ['Polo', 'Tiguan', 'Vento'],
 'Lamborghini': ['Huracan', 'Aventador', 'Elemento'],
 'Koenigsegg': ['Agera', 'Gemera', 'Regera'],
 'Bugatti': 'Veyron'}

---

#### Activity 16: The `clear()` Function

The `clear()` function simply clears or deletes all the key-values pairs from a dictionary.

In [ ]:
#Clear the contents of the  dictionary.
cars_dict.clear()

In [ ]:
cars_dict

{}