<a href="https://colab.research.google.com/github/poudyaldiksha/Data-Science-project/blob/main/Lesson_11_b2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 11: Tuples I


**Understanding Python Tuples**

So far, you have been introduced to two data structures: lists and dictionaries. Today, we will explore Python tuples in detail. Although we have encountered them before, we haven't discussed them extensively.

In essence, Python tuples function similarly to Python lists, with one key distinction: tuples are immutable. This means the contents of a tuple cannot be altered. Once a tuple is created, you cannot add, update, or remove items.

In summary, a Python tuple is an ordered and immutable collection of elements, whereas a Python list is an ordered but mutable collection.

In practical scenarios, tuples are used to store fixed information that shouldn't change, such as a bank account number, email address, coordinates of a location, or any universally accepted fact, like water's composition of two hydrogen molecules and one oxygen molecule.

### Activity 1: Create Python Tuple


Let's create a tuple that contains the names of the seven continents. They are:

`(Africa, Antarctica, Asia, Europe, North America, Australia, South America)`

To create a tuple, you need to write the items enclosed within parentheses (), ensuring that each item is separated by a comma.

In [ ]:
# Create a tuple
a = (1,2,3)
a

(1, 2, 3)

In [ ]:
type(a)

tuple

 To verify whether a data structure is a tuple or not, you can use the `type()` function.

In [ ]:
# Verify whether the data-structure stored in the 'continents' variable is a tuple or not.
continents = ("Africa", "Antarctica", "Asia", "Europe", "North America", "Australia", "South America")
continents

('Africa',
 'Antarctica',
 'Asia',
 'Europe',
 'North America',
 'Australia',
 'South America')

In [ ]:
len(continents)

7

In [ ]:
b = [ 1,4.5,"a",True]
b

[1, 4.5, 'a', True]

In [ ]:
b_tuple = ( 1,4.5,"a",True,[1,2])
b_tuple

(1, 4.5, 'a', True, [1, 2])

Similar to a Python list, a Python tuple can also contain different types of items such as integer, float, string, list, boolean, tuple etc. Let's learn this concept with the help of an example.

Consider the following properties of helium.

|Properties of Water |Values|
|-|-|
|                  |                 |
| Molecular formula     | H2O     |
| Boiling point (Â°C)    | 100                     |
| Density $\left(\frac{g}{cm3}\right)$ | 1.0         |
| Is it essential for life? | True                |
| Common states of matter | [solid, liquid, gas]   |
| Number of hydrogen atoms | 2                     |

The `Values` column in the above list contains items of all the types.

In [ ]:
# Create a tuple containing all the properties of Water.
water_props = ( "h2O",100,1.0,True,["solid","liquid","gas"], 2)
water_props

('h2O', 100, 1.0, True, ['solid', 'liquid', 'gas'], 2)

As you can see, a tuple can contain different types of items.

---

### Activity 2: Tuple Length

The length of a tuple (or tuple length) is the number of items contained in the tuple. To calculate the length of a tuple (or the number of items present in a tuple), you can use the `len()` function (the same function that you have been using for Python lists).

In [ ]:
# Calculate the number of items contained in the tuple.
len(water_props)

6

The  item `['solid', 'liquid', 'gas']` is a list acting as a singular item contained in the `water_props` tuple.

---

### Activity 3: Empty Tuple

You can also create an empty tuple (a tuple having no item) by simply writing the common brackets (or parentheses).

In [ ]:
# Create an empty tuple.
emp_tuple =()
emp_tuple

()

In [ ]:
s = a,
type(s)

tuple

In [ ]:
type(emp_tuple)

tuple

### Activity 4: One-Item Tuple

Interestingly, creating a tuple containing only one item is quite tricky. As an experiment, create the following five tuples containing only one item and check their types using the `type` function.

```
num_of_planets = (8)
average_temperature = (25.5)
liquid_state = ('water')
is_habitat = (True)
population_density = (567.8)
colors = (["red","yellow"])
```

In [ ]:
num_of_planets = [8]
print(type(num_of_planets))

<class 'list'>

In [ ]:
liquid_state = ['water']
print(type(liquid_state))

<class 'list'>

In [ ]:
# Create the above five tuples and check their types.
num_of_planets = (8)
average_temperature = (25.5)
liquid_state = ('water')
is_habitat = (True)
population_density = (567.8)
colors = (["red","yellow"])

print(type(num_of_planets))
print(type(average_temperature))
print(type(liquid_state))
print(type(is_habitat))
print(type(population_density))
print(type(colors))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'list'>

As you can see, the `type()` function returns all the other types except for `tuple`. This is how the Python interpreter works. We can't do anything about it.

Now, put a comma after the item in each of the above five tuples and check their types again.

In [ ]:
# Create the above five tuples again by putting a comma after item in each tuple and check their types.
num_of_planets = (8,)
average_temperature = (25.5,)
liquid_state = ('water',)
is_habitat = (True,)
population_density = (567.8,)
colors = (["red","yellow"],)

print(type(num_of_planets))
print(type(average_temperature))
print(type(liquid_state))
print(type(is_habitat))
print(type(population_density))
print(type(colors))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

As you can see, we have now created five tuples. Each of them contains only one item. Hence, the trick to create a tuple having only one item is to put a comma after the item.

**Note:** Even if you don't enclose the items within parentheses but put a trailing comma, then also Python will create a tuple.

In [ ]:
# Create two tuples without putting parentheses: one having only one item and another having at least two items.
# Verify whether they both are tuples or not.
a= 1,2

type(a)

tuple

In [ ]:
b = 1,2,4
type(b)

tuple

In [ ]:
c = 5,
type(c)

tuple

In [ ]:
d = 5
type(d)

int

As you can see, even without putting parentheses, we can create a tuple. This is a very unique property of a Python tuple.

---

### Activity 5: Tuple Indexing

Tuple indexing is exactly the same as list indexing. Every item in a Python tuple, occupies a unique position called index.

- The first item in a tuple occupies `index = 0`.

- Similarly, the second item occupies `index = 1` and so on.

- The last item occupies `index = (n - 1)`, where `n` is the number of items contained in a tuple.

To get an item of a specific index, write the name of the variable storing the tuple followed by the index value enclosed between square brackets `[]`.

**Syntax:** `tuple_name[index_value]`

In [ ]:
water_props[0]

'h2O'

In [ ]:
water_props[4]

['solid', 'liquid', 'gas']

In [ ]:
water_props

('h2O', 100, 1.0, True, ['solid', 'liquid', 'gas'], 2)

In [ ]:
water_props[4][2]

'gas'

In [ ]:
# Print all the items one-by-one contained in the 'water_props' tuple using the indexing method along with a 'for' loop.
for i in water_props:
    print(i)

h2O
100
1.0
True
['solid', 'liquid', 'gas']
2

In [ ]:
len(water_props)

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
for i in range(len(water_props)):
    print(water_props[i])

h2O
100
1.0
True
['solid', 'liquid', 'gas']
2

As you can see, you can get individual items by writing their indices enclosed between square brackets after the variable containing the tuple.

Just like a Python list, you can use negative indexing as well to retrieve an item from a tuple.

In [ ]:
# Print all the items one-by-one contained in the 'water_props' tuple using the negative indexing method along with a 'for' loop.
for  i in range(6):
    print(water_props[i - 6])

h2O
100
1.0
True
['solid', 'liquid', 'gas']
2

In [ ]:
# Get all the items of the 'water_props' tuple in the reverse order
# using the negative indexing method along with a 'for' loop.

for i in range(6):
    print(water_props[5 -i])

2
['solid', 'liquid', 'gas']
True
1.0
100
h2O

In [ ]:
for i in range(6):
    print(water_props[-(i+1)])

2
['solid', 'liquid', 'gas']
True
1.0
100
h2O

In [ ]:
water_props

('h2O', 100, 1.0, True, ['solid', 'liquid', 'gas'], 2)

---

### Activity 6: Tuple Slicing

Again, tuple slicing is exactly the same as the list slicing. We will quickly go through this concept.

The general form of the slicing syntax is `sequence[start:stop:step]`.
- start: The index to start the slice. The slice starts from this index (inclusive). If omitted, it defaults to the beginning of the sequence.
- stop: The index to end the slice. The slice goes up to, but does not include, this index. If omitted, it defaults to the end of the sequence.
- step: The step size or stride. If omitted, it defaults to 1. A negative step size means slicing in reverse.

**NOTE**
- `tuple[:]`: This takes a slice of the entire tuple (i.e., it includes all elements from start to end).

In [ ]:
water_props

('h2O', 100, 1.0, True, ['solid', 'liquid', 'gas'], 2)

In [ ]:
# Get the first four items
water_props[: 4 ]

('h2O', 100, 1.0, True)

In [ ]:
# Get all the items in the reverse order.
water_props[::-1]

(2, ['solid', 'liquid', 'gas'], True, 1.0, 100, 'h2O')

In [ ]:
# Get the alternate items
water_props[::2]

('h2O', 1.0, ['solid', 'liquid', 'gas'])

In [ ]:
#Get the last three items
water_props[ -3 : -1]

(True, ['solid', 'liquid', 'gas'])

In [ ]:
water_props[3:]

(True, ['solid', 'liquid', 'gas'], 2)

In [ ]:
water_props

In [ ]:
# Get all the items from the tuple using negative indexing except for the first and the last items.
water_props[1:5]

(100, 1.0, True, ['solid', 'liquid', 'gas'])

In [ ]:
water_props[-5:-1]

(100, 1.0, True, ['solid', 'liquid', 'gas'])

In [ ]:
water_props

('h2O', 100, 1.0, True, ['solid', 'liquid', 'gas'], 2)

In [ ]:
#Get the second item of the list stored in the 'water_props' tuple.
water_props[4][1:3]

['liquid', 'gas']

---

### Activity 7: The `index()` Function

You can use the `index()` function to find out the index of an item in a tuple. The same function can also be used for a Python list.

**Syntax:** `tuple_name.index(item)`

In [ ]:
# Get the index of the item 100 that is present in the  tuple.
water_props.index(100)

1

**Note:** The `index()` function throws `ValueError` if an item does not exist in the tuple.

---

### Activity 8: The `count()` Function

The `count()` function in tuple counts the number of times an item occurs in a tuple. The same function can also be used for a Python list.

Here we have a tuple containing student grades in a class.

`student_grades = ('A', 'B', 'C', 'A', 'A', 'B', 'B', 'C', 'A', 'B')`

Find out how many times students got grades `A`, `B` and `C` in that particular class

In [ ]:
# Define a tuple representing student grades in a class
student_grades = ('A', 'B', 'C', 'A', 'A', 'B', 'B', 'C', 'A', 'B')


# Count how many times each grade appears in the tuple
count_A = student_grades.count('A')
count_B = student_grades.count('B')
count_C = student_grades.count('C')


# Print the results
print("Number of times 'A' appears in the tuple:", count_A)
print("Number of times 'B' appears in the tuple:", count_B)
print("Number of times 'C' appears in the tuple:", count_C)

Number of times 'A' appears in the tuple: 4
Number of times 'B' appears in the tuple: 4
Number of times 'C' appears in the tuple: 2

---

### Activity 9: Add, Replace & Delete Item

As discussed at the beginning of this class, we cannot add, replace (or update) & delete an item from a tuple. Let's verify this theory.

Let's try to replace the item `2` contained in the `water_props` tuple with the string `'two'`. We should get an error.

In [ ]:
# Try to replace the item 2 contained in the 'water_props' tuple with the string 'two'.
index_of_2 = water_props.index(2)
print("The item 2 exists at index =", index_of_2)
#water_props[index_of_2] = 'two'

The item 2 exists at index = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
water_props

('h2O', 100, 1.0, True, ['solid', 'liquid', 'gas'], 2)

In [ ]:
#water_props[5]= "two" # tuples are immutable, cannot update it

As you can see, Python throws `TypeError` saying that `'tuple' object does not support item assignment`. Hence, we have verified that we cannot replace or update an existing item in a tuple.

Let's try to delete the item `2` using the `del` keyword. It works for a Python list as well. There exists no `remove()` function for a Python tuple like the one that exists for a Python list.

**Note:** Again you will get an error.

In [ ]:
# Try to delete the item
#del water_props[5]

As you can see, Python throws `TypeError` saying that `'tuple' object doesn't support item deletion`. Hence, we have verified that we cannot delete an existing item from a tuple.

There exists no function like the `append()` function (exists for a Python list) that can add an item to a tuple. But can concatenate or join two or more tuples.

###Activity 10: Concatenation
 we cannot add a new item to a tuple because tuples are immutable. However, we can join two tuples through concatenation.

Recall that the process of joining two entities is called **concatenation**. This is exactly the same concept that you learnt for strings in one of the previous classes.

```
product1_sales = (120, 150, 180, 200, 220, 190, 210)  # Sales for Product 1
product2_sales = (90, 100, 110, 120, 130, 140, 150)    # Sales for Product 2
product3_sales = (80, 85, 90, 95, 100, 105, 110)       # Sales for Product 3
```

In [ ]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [ ]:
"string" +"@@@@concatenation"

'string@@@@concatenation'

In [ ]:
a = (1,2,3)
b=(4,5,6)
a+b

(1, 2, 3, 4, 5, 6)

In [ ]:
# Tuples representing monthly sales in thousands of dollars
product1_sales = (120, 150, 180, 200, 220, 190, 210)  # Sales for Product 1
product2_sales = (90, 100, 110, 120, 130, 140, 150)    # Sales for Product 2
product3_sales = (80, 85, 90, 95, 100, 105, 110)       # Sales for Product 3


# Concatenate the tuples to form a single tuple representing sales over months
total_sales = product1_sales + product2_sales + product3_sales


# Print the concatenated tuple
print("Total sales across all products:", total_sales)

Total sales across all products: (120, 150, 180, 200, 220, 190, 210, 90, 100, 110, 120, 130, 140, 150, 80, 85, 90, 95, 100, 105, 110)

Let's verify whether the resulting tuple is indeed a tuple or not.

In [ ]:
# Verify whether the resulting tuple is indeed a tuple or not.
type(total_sales)

tuple

You can also concatenate multiple lists using the `+` operator.

**Note:** You cannot concatenate multiple Python dictionaries, NumPy arrays and Pandas series among themselves using the `+` operator.

In [ ]:
#a ={1:2,3:5}
#b ={4:5,6:7}
#a+b you cannot concatenate dictionaries

---

### Activity 11: The `tuple()` Function

You can convert a Python list / NumPy array / Pandas Series into a tuple using the `tuple()` function.

Let's create a NumPy array of first 10 natural numbers and convert it into a tuple using the `tuple()` function.

In [ ]:
import numpy as np
a =[1,2,3]
a_array = np.array(a)
a_array

array([1, 2, 3])

In [ ]:
a =(1,2,3)
a_array = np.array(a)
a_array

array([1, 2, 3])

In [ ]:
a_arr_tup = tuple(a_array)
a_arr_tup

(1, 2, 3)

In [ ]:
num_array = np.arange(1, 11)

print(num_array)

[ 1  2  3  4  5  6  7  8  9 10]

In [ ]:
#  Create a NumPy array containing the first 10 natural numbers and convert it into a tuple.
# Also, verify whether the array is converted to a tuple or not.
import numpy as np


# Create a NumPy array.
num_array = np.arange(1, 11)
# Print the NumPy array.
print(num_array)
# Convert the NumPy array into a tuple.
num_tuple = tuple(num_array)
# Print the tuple.
print(num_tuple)
# Verify.
type(num_tuple)

[ 1  2  3  4  5  6  7  8  9 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple

If you apply the `tuple()` function on a dictionary, the resulting tuple will contain only the keys of a dictionary.

In [ ]:
# Apply the 'tuple()' function on the  dictionary.


diet = { "breakfast" : " dosa", "lunch" : " roti", "dinner " : "rice"}
diet


my_tuple = tuple(diet)
my_tuple

('breakfast', 'lunch', 'dinner ')

As you can see, the `tuple()` function, when applied to a dictionary, returns a tuple containing only the keys of the dictionary.

Similarly, you can also apply the `list()` function to convert a data-structure into a list. The `list()` function, when applied on a dictionary, also returns a list containing only the keys of the dictionary.

In [ ]:

# Apply the 'list()' function on the dictionary.
my_list = list(diet)
my_list

['breakfast', 'lunch', 'dinner ']

In [ ]:
tuple(diet.values())

(' dosa', ' roti', 'rice')

In [ ]:
item_tuples = tuple(diet.items())

In [ ]:
item_tuples[2][0]

'dinner '

---

### Activity 12: Unpacking

We can unpack or assign all the values to the same number of variables by writing them in one line.

**Syntax:** `vb1, vb2, vb3, ..., vbN = (item1, item2, item3, ..., itemN)`

where `vb1, vb2, vb3, ..., vbN` are `N` different variables and `item1, item2, item3, ..., itemN` are `N` different items stored in the tuple.

In [ ]:
a = 5
b= 10
c = 15
print(a,b,c)

5 10 15

In [ ]:
a,b,c = 5,10,15
print(a,b,c)

5 10 15

In [ ]:
# Create a tuple containing 5 items and assign their values to 5 differing variables.
name, age, height, weight, city = ('john', 30, 175, 75, 'newyork')

print("Name:", name,
      "\nAge:", age,
      "\nHeight (in cm):", height,
      "\nWeight (in kg):", weight,
      "\nCity:", city)

Name: john
Age: 30
Height (in cm): 175
Weight (in kg): 75
City: newyork

In [ ]:
# Create a tuple containing 5 items and assign their values to 5 differing variables.
name, age, height, weight, city = ['john', 30, 175, 75, 'newyork']

print("Name:", name,
      "\nAge:", age,
      "\nHeight (in cm):", height,
      "\nWeight (in kg):", weight,
      "\nCity:", city)

Name: john
Age: 30
Height (in cm): 175
Weight (in kg): 75
City: newyork

The same method is also applicable for a list.

**Note:** This method of unpacking values fails when the number of variables are less than or greater than the number of items in a tuple or a list.

---

#### Activity 13: Changing Tuple Items

We have already discussed that we cannot change the contents of a tuple. However, we can first convert the tuple into a list, then change the contents of the list and finally change the list back into a tuple.

Let's create a tuple of English vowels which contains one consonant. To remove that consonant, we will first convert the tuple into a list using the `list()` function, then will remove the consonant by applying the `remove()` function and then convert the list back to a tuple using the `tuple()` function.

In [ ]:
# Create a tuple containing English vowels and then reverse the order of its items.
# Create a tuple of vowels.
vowels_tuple = ('a', 'e', 'i', 's', 'o', 'u')

# Print the contents of the tuple before converting it into a list.
print("Before Reversal:", vowels_tuple)

# Convert the tuple into a list.
vowels_list = list(vowels_tuple)

# Remove the consonant from the list.
vowels_list.remove('s')

# Convert the list into a tuple.
vowels_tuple = tuple(vowels_list)

# Print the items of the tuple after reversing their order.
print("After Reversal:", vowels_tuple[::-1])

Before Reversal: ('a', 'e', 'i', 's', 'o', 'u')
After Reversal: ('u', 'o', 'i', 'e', 'a')

- Similarly, you can apply other list functions by first converting a tuple into a list and then changing the list back to the tuple by applying the `tuple()` function.
- This little hack is useful when the data entered in a tuple is wrong or undesirable.
- However, this hack becomes a computationally heavy task in case of a huge dataset.
- Imagine having 1 million (or 10 lakh) data points in a dataset that is not supposed to be changed. But then there is one mistake that needs to be corrected. You will have to first convert the entire tuple into a list, then correct the mistake in the item and then convert it back into a tuple. This exercise could lead to system failure in case of large datasets.

---