<a href="https://colab.research.google.com/github/poudyaldiksha/Data-Science-project/blob/main/Lesson_13_b2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 13: String Methods and Functions- II

**Strings**

So far, we have been calling strings a data-type. But technically, in Python, a string is another data structure just like a list, a tuple, and a dictionary. Therefore, it means a string also stores data. Essentially, a string is an array containing some items. Any character (whether a letter, a number, or a special symbol like space, brackets, etc.) enclosed within double quotes `("")` or single quotes `('')` is considered a string.

### Activity 1: Generate a password

Let's write a code to create a 12 character long password containing a combination of lowercase & uppercase English letters numbers and special characters.

For this exercise, we have to import the `string` module that contains the following string constants.

1. `string.ascii_lowercase`: A constant string of lowercase letters, i.e.,`'abcdefghijklmnopqrstuvwxyz'`

2. `string.ascii_uppercase`: A constant string of uppercase letters, i.e., `'ABCDEFGHIJKLMNOPQRSTUVWXYZ'`

3. `string.ascii_letters`: A constant string containing the concatenation of the `ascii_lowercase` and `ascii_uppercase` constants, i.e., `'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'`

4. `string.digits`: A constant string of the digits, i.e, `'0123456789'`

5. `string.punctuation`: A constant string of ASCII characters which are considered as punctuation characters, i.e., ``!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~``

The constants are those values which are universally true. E.g., value of `pi = 3.141` etc.

Of course, you can create all of the above on your own by typing them individually. But then it would be tedious.

American Standard Code for Information Interchange

In [ ]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [ ]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
string.digits

'0123456789'

In [ ]:
a = string.ascii_letters+string.punctuation+string.digits
a

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~0123456789'

In [ ]:
len(a)

94

In [ ]:
import random
random.randint(1,6)

2

In [ ]:
a

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~0123456789'

In [ ]:
import random
emp_lis =[]
for i in range(0,13):
    emp_lis.append(a[random.randint(0,95)])
print(emp_lis)
new_password = "".join(emp_lis)
new_password

['>', '.', "'", 'D', '0', '%', '1', 'f', '+', 'S', ']', '_', '7']

">.'D0%1f+S]_7"

In [ ]:
# Write a code to generate a 12 character long random password containing a combination of lowercase &
# uppercase English letters numbers and special characters.

import random
big_string = string.ascii_letters + string.digits + string.punctuation
print(big_string)
password = []
for i in range (0,12):
 char = random.randint(0,len(big_string))
 password.append(big_string[char])




newpassword = "".join(password)
newpassword

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

'Fn#(W`]x./}z'

In [ ]:

# Using list comprehension to generate password
password = [random.choice(big_string) for  i in range(12)]
newpassword = "".join(password)


print(newpassword)

OPG$cZ2,K,F(

In [ ]:
a = string.ascii_letters +string.digits + string.punctuation
print("alphanumeric string:\n\t",a,"\n\n","length:",len(a))
rand_char = [a[random.randint(0,len(a) - 1)] for i in range(12)]
print(rand_char)
passw= "".join(rand_char)
print("\npassword:\t",passw)

alphanumeric string:
	 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

 length: 94
['#', 'g', 'Y', 'k', 'm', '?', '$', '+', 'Y', '*', '~', '"']

password:	 #gYkm?$+Y*~"

In the above code:

- An alphanumeric string is created by concatenating the `string.ascii_letters, string.digits, string.punctuation` constants.

- A list is created using the list comprehension method:

    - By first generating 12 random integers between `0` and `93`. They act as indices for any 12 items of the alphanumeric string.

    - Then, by adding the items to the list that are retrieved from the alphanumeric string.

- The `join()` function joins the items of the above list about an empty string.

---

### Activity 2: The `capitalize(), lower(), upper()` & `title()` Functions

The `capitalize()` function, capitalizes only the item at `index = 0` provided that the item is a lowercase English letter. The syntax is `string.capitalize()`.

In [ ]:
# Example: Capitalizing the first character of a string
text = "python programming is fun"
capitalized_text = text.capitalize()
print(capitalized_text)

Python programming is fun

In [ ]:
# Example: Capitalizing the first character of a string
text = " python programming is fun"
capitalized_text = text.capitalize()
print(capitalized_text)

 python programming is fun

`lower()` and `upper()` Functions:

The `lower()` function converts all characters in a string to lowercase, while `upper()` converts them to uppercase.

In [ ]:
# Example: Converting a string to lowercase and uppercase
text = "Hello World"
lowercase_text = text.lower()
uppercase_text = text.upper()
print(lowercase_text)  # Output: 'hello world'
print(uppercase_text)

hello world
HELLO WORLD

`title()` Function:

The `title()` function capitalizes the first letter of each word in a string.

In [ ]:
# Example: Converting a string to title case
text = "python programming is awesome"
title_case_text = text.title()
print(title_case_text)

Python Programming Is Awesome

---

### Activity 3: The `isupper(), islower()` & `istitle()` Functions

The `istitle()` function returns `True` if the words in a string are in a title case. Otherwise, it returns `False`.

In [ ]:
# Example: Checking if a string is in title case
text = "python Programming Is Fun"
print(text.istitle())

False

While applying the `istitle()` function on each English letter one-by-one, it returns `True` if the letter is in uppercase. Otherwise, it returns `False`.

`isupper()` and `islower()` Functions
The `isupper()` function checks if all characters in a string are uppercase, while `islower()` checks if all are lowercase.

In [ ]:
# Example: Checking if a string is uppercase or lowercase
uppercase_text = "PYTHON"
lowercase_text = "pythOn"
print(uppercase_text.isupper())
print(lowercase_text.islower())

True
False

Similarly, the `isupper()` function returns `True` if an English letter is in uppercase and the `islower()` function returns `True` if an English letter is in lowercase. Otherwise, they return `False`.

---

### Activity 4: The `ljust(), rjust()` & `center()` Functions

The `ljust()` function returns a fixed-length string padded with some special character and justifies (or aligns) it on the left-hand side of the output console.

The syntax is:

 `string.ljust(length, character)`

Let's write a code to get the following output using the `ljust()` function.

```
1000
2000
3000
4000
5000
```

Each item in the above output is a string of length `4` padded with `0` and left justified.

In [ ]:
for i in range(1,6):
    print("i".ljust(4,"0"))

i000
i000
i000
i000
i000

In [ ]:
for i in range(1,6):
    print(str(i).ljust(4,"0"))

1000
2000
3000
4000
5000

In [ ]:
"1".ljust(4,"0")

'1000'

In [ ]:
"a".ljust(6,"#")

'a#####'

In [ ]:
# Activity: Write a code to get the above output using the 'ljust()' function.

**The `rjust()` function** returns a fixed-length string padded with some special character and justifies (or aligns) it on the right-hand side of the output console. The syntax is `string.rjust(length, character)`

Now, write a code to get the following output using the `rjust()` function.

```
00001
00002
00003
00004
00005
```

Each item in the above output is a string of length `5` padded with `0` and right justified.

In [ ]:
for i in range(1,6):
    print(str(i).rjust(5,"0"))

00001
00002
00003
00004
00005

In [ ]:
# Activity: Write a code to get the above output using the 'rjust()' function.
for i in range(1,6):
  print(str(i).rjust(4,"0"))

**The `center()` function** returns a fixed-length string padded with some special character and justifies (or aligns) it at the center of the output console. The syntax is `string.center(length, character)`

In [ ]:
# Example: Centering a string with padding characters
text = "Python"
centered_text = text.center(10, '#')
print(centered_text)

##Python##

In [ ]:
text = "Python"
centered_text = text.center(15,"@")
print(centered_text)
len(centered_text)

@@@@@Python@@@@

15

**Note:** If the `character` value is not defined in the `ljust(), rjust()` and `center()` functions, then they take whitespace as the default character.

---

### Activity 5: The `replace()` Function

If you want to replace an item in a string with some other item, then you can use the `replace()` function.

**Syntax:** `string.replace(item_to_be_replaced, new_item)`

Let's learn this concept with the help of an example. Consider the text below.

*Who invented the sole? How can we scientifically prove that a sole exists? If the sole is an energy, then what kind of energy it is? The laws of physics state that energy can neither be created nor be destroyed. So, if the sole is an energy, then how does it transfer from one form to another after the death of a person? We know that the laws of physics are universally true. So, it means either the sole is not an energy or it doesn't exist.*

The word *soul* has been mistakenly reported as *sole* by a machine because they are *homophone*. Two or more words having the same pronunciation are called *homophone*.

We can replace the word *sole* with *soul* using the `replace()` function.

In [ ]:
# Replace the word 'sole' with 'soul' in the given paragraph.
a = """
Who invented the sole? How can we scientifically prove that a sole exists?
If the sole is an energy, then what kind of energy it is?
The laws of physics state that energy can neither be created nor be destroyed.
So, if the sole is an energy, then how does it transfer from one form to another after the death of a person?
We know that the laws of physics are universally true. So, it means either the sole is not an energy or it doesn't exist.
"""

In [ ]:
a = a.replace("sole","soul")
print(a)

Who invented the soul? How can we scientifically prove that a soul exists?
If the soul is an energy, then what kind of energy it is?
The laws of physics state that energy can neither be created nor be destroyed.
So, if the soul is an energy, then how does it transfer from one form to another after the death of a person?
We know that the laws of physics are universally true. So, it means either the soul is not an energy or it doesn't exist.

In [ ]:
a

"\nWho invented the soul? How can we scientifically prove that a soul exists?\nIf the soul is an energy, then what kind of energy it is?\nThe laws of physics state that energy can neither be created nor be destroyed.\nSo, if the soul is an energy, then how does it transfer from one form to another after the death of a person?\nWe know that the laws of physics are universally true. So, it means either the soul is not an energy or it doesn't exist.\n"

In [ ]:
a = a.split("\n")
a

['',
 'Who invented the soul? How can we scientifically prove that a soul exists?',
 'If the soul is an energy, then what kind of energy it is?',
 'The laws of physics state that energy can neither be created nor be destroyed.',
 'So, if the soul is an energy, then how does it transfer from one form to another after the death of a person?',
 "We know that the laws of physics are universally true. So, it means either the soul is not an energy or it doesn't exist.",
 '']

In [ ]:
type(a)

list

In [ ]:
len(a)

7

In [ ]:
a.remove(a[0])

In [ ]:
a

['Who invented the soul? How can we scientifically prove that a soul exists?',
 'If the soul is an energy, then what kind of energy it is?',
 'The laws of physics state that energy can neither be created nor be destroyed.',
 'So, if the soul is an energy, then how does it transfer from one form to another after the death of a person?',
 "We know that the laws of physics are universally true. So, it means either the soul is not an energy or it doesn't exist.",
 '']

In [ ]:
a.remove(a[-1])

In [ ]:
a

['Who invented the soul? How can we scientifically prove that a soul exists?',
 'If the soul is an energy, then what kind of energy it is?',
 'The laws of physics state that energy can neither be created nor be destroyed.',
 'So, if the soul is an energy, then how does it transfer from one form to another after the death of a person?',
 "We know that the laws of physics are universally true. So, it means either the soul is not an energy or it doesn't exist."]

`string.rjust(length, character)`

In [ ]:
len(a[-1])

121

In [ ]:
q= "you".rjust(10,"@")
print(q)

@@@@@@@you

In [ ]:
for i in a:
    j = i.strip(" ")
    print(j.rjust(len(a[-1])," "))

                                               Who invented the soul? How can we scientifically prove that a soul exists?
                                                                If the soul is an energy, then what kind of energy it is?
                                           The laws of physics state that energy can neither be created nor be destroyed.
            So, if the soul is an energy, then how does it transfer from one form to another after the death of a person?
We know that the laws of physics are universally true. So, it means either the soul is not an energy or it doesn't exist.

In [ ]:
for i in a:
    print(i.ljust(len(a[-1]),"*"))

Who invented the soul? How can we scientifically prove that a soul exists?***********************************************
If the soul is an energy, then what kind of energy it is?****************************************************************
The laws of physics state that energy can neither be created nor be destroyed.*******************************************
So, if the soul is an energy, then how does it transfer from one form to another after the death of a person?************
We know that the laws of physics are universally true. So, it means either the soul is not an energy or it doesn't exist.

In [ ]:
a

['Who invented the soul? How can we scientifically prove that a soul exists?',
 'If the soul is an energy, then what kind of energy it is?',
 'The laws of physics state that energy can neither be created nor be destroyed.',
 'So, if the soul is an energy, then how does it transfer from one form to another after the death of a person?',
 "We know that the laws of physics are universally true. So, it means either the soul is not an energy or it doesn't exist."]

**Note:** If you print a multiline string without using the `print()` function, then you will get a single-line string containing the newline `\n` character. In fact, this is how all the multiline strings are stored in Python.

---

### Activity 6: The Escape Character (`\`)

Sometimes you might have to create a string which would contain a combination of single quotes (`''`), double quotes (`""`) or an apostrophe (`'`). In such cases, Python will terminate the string before it is complete. To create such strings, you can use the **escape character** represented by backslash sign (`\`).

In [ ]:
print("nagour's orange")

nagour's orange

In [ ]:
# Example: Creating a string with single quotes using the escape character
print( "She said 'That's fine' and left.")

She said 'That's fine' and left.

In [ ]:
# Example: Creating a string with single quotes using the escape character
sentence_single_quotes = 'She said \'That\'s fine\' and left.'
print(sentence_single_quotes)

She said 'That's fine' and left.

To create the given string using single-quotes, you will have to put one backslash before `'That...` as shown below

`\'That...`

and one backslash before `' and..."` as shown below

`\' and...'`

---

### Activity 7: The `format()` Function

The `format()` function allows you to format strings by placing placeholders in the string and replacing them with specified values.

**Syntax:**

`formatted_string = "String with {} placeholders".format(value)`

Here's a breakdown of its components:

- `{}`: This is a placeholder where values will be inserted.
- `.format(value)`: This method replaces the placeholder {} with the value provided.

In [ ]:
#Example

name = input("please enter your name:")
age = input("please mention your age:")
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

please enter your name:john
please mention your age:john
My name is john and I am john years old.

In [ ]:
# Example: Formatting a Greeting Message
#Data
name = "Alice"
age = 25
city = "New York"

# Using format() function
greeting = "Hello, my name is {}. I am {} years old and I live in {}.".format(name, age, city)

# Printing the formatted string
print(greeting)

Hello, my name is Alice. I am 25 years old and I live in New York.

**Labelling Placeholders**

When there are too many placeholders to fill, you might lose a track of what value to put to what placeholder. In such cases, the better approach is to label the placeholders in such a way that they describe the values to put to the placeholders.

In [ ]:
# Example: Formatting a Greeting Message
#Data
name = "Alice"
age = 25
city = "New York"

# Using format() function
greeting = "Hello, my name is {a}. I am {b} years old and I live in {c}.".format(a = name, b=age, c=city)

# Printing the formatted string
print(greeting)

Hello, my name is Alice. I am 25 years old and I live in New York.

In [ ]:
#Example: Formatting a Product Listing

# Data
product = "Laptop"
price = 79999
quantity = 5

# Using format() function with labeled placeholders
product_listing = "Product: {product}, Price: {price}, Quantity: {quantity}".format(
    product=product, price=price, quantity=quantity)

# Printing the formatted string
print(product_listing)

Product: Laptop, Price: 79999, Quantity: 5

As you can see, we have labelled the placeholders with the to determine which value to assign to which placeholder. Then, using the `format()` function, we have assigned the values to their respective placeholders.

### Activity 8: Zero Padding

Zero padding is a technique used to ensure that numbers are displayed with a fixed width by adding leading zeros if necessary. This is particularly useful when you want to align numbers in a table or when you need to format numbers in a specific way.

You can print a single-digit number as an $n$-digit number, such that the first $(n - 1)$ digits are zeros, using the `format()` function. E.g., you can print 5 as 005. To do this, you have to put the `:0n` flag inside a placeholder where `n` is the number of digits to be displayed in the final number.


To zero pad a number using the `format()` function, you use the `:0n` flag inside the placeholder. Here, n is the total width of the final number, including the zeros and the original number.

**Syntax:** `"{:0n}".format(number)`

`{}` is the placeholder for the value to be formatted.

`:` introduces the format specification.

`0` indicates that you want to pad with zeros.

`n` is the total width of the final number.

In [ ]:
print("{:05}".format("t"))

t0000

In [ ]:
print("{:05}".format("2"))

20000

In [ ]:
t= "{:05}".format(2)
type(t)

In [ ]:
print("{:05}".format(2))

In [ ]:
a = "{:05}".format("2")
type(a)

In [ ]:
#Print the natural numbers between 5 and 15 as three-digit numbers.
for i in range(5,16):
  print("{:03}".format(i))

**Aligning Numbers in a Table**
When printing numbers in a table, zero padding ensures that all numbers align correctly in their respective columns, making the table easier to read.

In [ ]:
#Example
numbers = [1, 23, 456, 7890]
for num in numbers:
    print("{:04}".format(num))

In [ ]:
#Example
data = [
    [1, 23, 456],
    [78, 9, 345],
    [12, 34, 5]
]

# Print the table with zero-padded numbers
for row in data:
    for number in row:
        print("{:04}".format(number), end=",")
    print()

**Formatting Dates**
Zero padding is often used in date formatting to ensure that day and month numbers are always two digits.

In [ ]:
#Example
day = 7
month = 3
year = 2024
formatted_date = "{:02}/{:02}/{}".format(day, month, year)
print(formatted_date)

07/03/2024

---

### Activity 9: Digits After Decimal


Similarly `format()` function in Python allows you to control the number of digits displayed after the decimal point. This is particularly useful when you need to present numerical data in a standardized format, such as rounding values to a specific precision for reporting or display purposes.



To do this, you have to put the `:.nf` flag inside a placeholder where `n` is the number of digits to be displayed after the decimal point.

**Syntax:** `"{:.nf}".format(number)`

`{} `is the placeholder for the value to be formatted.

`:` introduces the format specification.

`.n` specifies the number of digits after the decimal point.

`f `indicates that the number is a floating-point number.

In [ ]:
print("{:.3f}".format(5.6783456))

5.678

In [ ]:
print("{:.1f}".format(5.6783456))

5.7

Let's say you have a list of average monthly temperatures (in Celsius) for a city and you want to print them rounded to one decimal place.

In [ ]:
temperatures = [23.456, 24.789, 22.334, 21.567, 23.987]

# Using format() function to display temperatures rounded to one decimal place
for temp in temperatures:
    formatted_temp = "{:.1f}".format(temp)
    print(formatted_temp)

23.5
24.8
22.3
21.6
24.0

---

###  Activity 10: Commas After Digits
When dealing with large numbers, it's often useful to format them with commas to make them easier to read. The `format()` function in Python provides a simple way to insert commas in large numbers.

To do this, you need to put the `:,` flag inside a placeholder.

**Syntax:** `"{:,}".format(number)`

In [ ]:
print("{:,}".format(2898392090909099999090900))

2,898,392,090,909,099,999,090,900


Let's Consider a list of population data for different countries. You can format each population number with commas for clarity.

In [ ]:
#Example
populations = [331002651, 1380004385, 212559417, 145934462]

# Using format() function to add commas to each population number
for population in populations:
    formatted_population = "{:,}".format(population)
    print(formatted_population)

331,002,651
1,380,004,385
212,559,417
145,934,462

In the above case, you can also print digits after the decimal point along with the commas.

### Activity 11: The `f-strings`

The `f-strings` is a cleaner and a faster way of formatting a string as compared to the `format()` function. The concepts of zero paddings, digits after the decimal point, commas after digits etc. are also applicable in case of the formatting through `f` literal in the exact same way.  However, the `f-strings` are applicable only to the newer versions of Python, specifically, version 3.6 and above. f-strings provide a more readable and concise way to embed expressions inside string literals using curly braces `{}`.

Introduction of `f-string` does not necessarily mean that the `format()` function has become irrelevant. Many Python programmers still use the `format()` function to make their code compatible with the older versions of Python. It is also more convenient while working with multiline strings.

Before we learn formatting through the literal `f`, let's check the Python version installed on Colab notebooks by Google. You can do this by writing the `!python --version` bash command.

**Note:**

1. Every notebook has the same version of Python installed.

2. If you are working on a terminal window of a Linux/Unix based machine, then you don't have to use the exclamation mark in the bash command, i.e., the command becomes `python --version`.

**Why Use f-strings?**
- Readability: `f-strings` are more readable and easier to understand.
- Performance: `f-strings` are faster than the `format()` function.
- Flexibility: All formatting options available in the `format()` function are also available in `f-strings`.

In [ ]:
#Check the version of Python installed on Colab notebooks.
!python --version

Python 3.10.12

In [ ]:
# formatting using f literal
name = "Diksha"
age = 25
greeting = f"Hello, my name is {name} and I am {age} years old."
print(greeting)

Hello, my name is Diksha and I am 25 years old.

Notice how variables name and age are directly embedded inside the string using curly braces `{}`.

In [ ]:
#formatting using format() function
a = "diksha"
b = 15
greet="hello, my name is {} and I am {}".format(a,b)
greet

'hello, my name is diksha and I am 15'

**Zero Padding with f-strings**

You can use f-strings to format numbers with leading zeros. The syntax is the same as with the `format()` function:

In [ ]:
#Example
number = 5
formatted_number = f"{number:03}"
print(formatted_number)

005

In [ ]:
f"{3:05}"

'00003'

In [ ]:
"${:03}".format(5)

'$005'

**Rounding Off Decimals with f-strings**

You can control the number of digits after the decimal point in floating-point numbers:

In [ ]:
#Example
pi = 3.14159
formatted_pi = f"{pi:.2f}"
print(formatted_pi)

3.14

**Adding Commas with f-strings**

For large numbers, you can add commas to separate thousands:

In [ ]:
#Example
large_number = 1234567890
formatted_number = f"{large_number:,}"
print(formatted_number)

1,234,567,890

Imagine you are creating a price list for a store. You want to format the prices to include two decimal places and commas.

In [ ]:
#Example
prices = [1234.5, 56789.123, 987654.321]
formatted_prices = [f"${price:,.2f}" for price in prices]
for price in formatted_prices:
    print(price)

$1,234.50
$56,789.12
$987,654.32

You are creating a scoreboard for a game. You want to display the scores with leading zeros so that they are always three digits long.

In [ ]:
#Example
scores = [7, 42, 105]
formatted_scores = [f"{score:03}" for score in scores]
for score in formatted_scores:
    print(score)

007
042
105

Format a list of dates to include leading zeros for single-digit days and months.

In [ ]:
#Example
dates = [(1, 2, 2024), (12, 11, 2023), (7, 8, 2025)]
formatted_dates = [f"{day:02}/{month:02}/{year}" for day, month, year in dates]
for date in formatted_dates:
    print(date)

01/02/2024
12/11/2023
07/08/2025

The literal `f`, works exactly like the `format()` function. You simply have to write a final version of a string containing placeholders. The placeholders need to be labelled with the variable names that contain the values to be placed in the respective placeholders.

---

### Activity 12: Mathematical Operations Inside Placeholders

You can also perform mathematical operations inside the placeholders.

In Python, `f-strings` (formatted string literals) offer a powerful feature where you can embed expressions, including mathematical operations, directly inside the placeholders. This makes it convenient to compute values on-the-fly and include them in your formatted strings. Let's explore this feature in detail with examples.

**Mathematical Operations Inside f-strings**

You can perform mathematical operations directly inside the curly braces `{}` of an `f-string`. This allows you to compute values and format them dynamically within your string.

Let's start with a simple example of adding two numbers inside an `f-string`:

In [ ]:
#Example 1: Addition
a = 10
b = 20
result = f"The sum of {a} and {b} is {a + b}."
print(result)

The sum of 10 and 20 is 30.

You can also perform multiplication and division operations:

In [ ]:
#You can also perform mathematical operations inside the placeholders.
print(f"{2 * 10}")

20

In [ ]:
#Example 2: Multiplication and Division
num1 = 15
num2 = 3
result_mult = f"The product of {num1} and {num2} is {num1 * num2}."
result_div = f"The division of {num1} by {num2} is {num1 / num2}."
print(result_mult)
print(result_div)

The product of 15 and 3 is 45.
The division of 15 by 3 is 5.0.

In [ ]:
#example
num_of_pens = 5
cost_of_each = 3
total_cost = " Since you have purchased {} pens, total cost is {} Rs "
print(total_cost.format(num_of_pens, num_of_pens * cost_of_each))

 Since you have purchased 5 pens, total cost is 15 Rs

In [ ]:
# temperature conversion
fahrenheit = 98.6
celsius = (fahrenheit - 32) * 5 / 9
result = f"{fahrenheit} degrees Fahrenheit is {celsius:.2f} degrees Celsius."
print(result)

98.6 degrees Fahrenheit is 37.00 degrees Celsius.

In [ ]:
#simple interest calculator
principal = 1000
rate = 5
time = 2
simple_interest = principal * rate * time / 100
result = f"Simple Interest: {simple_interest}."
print(result)

Simple Interest: 100.0.