# Lesson 1: Introduction to Python,Basic Arithmetic Operations, Variables and data-types

In [ ]:
8+3

11

"Lesson 1" oct 1

##**Road map to Data Science:**

1. **Programming Language:** We’ll start with Python, which is  the top-rated programming language for data science( we will cover basics, data structures in python, numpy and pandas library).

2. **Basic Math, Statistics, and Probability:** These are essential for understanding and working with **data**.

3. **Exploratory Data Analysis (EDA):** We’ll learn how to explore data and uncover patterns and perform data manipulations.  

4. **Data Visualization and SQL:** We’ll use tools like Seaborn, Matplotlib, plotly for visualization.

5. **Machine Learning Algorithms:** using `sklearn` deploying models for predictions and also you will learn math behind it.




##**Introduction to Python**:

Python is a high-level, interpreted, and interactive programming language that is known for its readability and simplicity.
Python is an excellent language for beginners. It's used to develop a wide range of applications, from simple scripts to complex web applications and games.

####**Python Operators**
Operators in Python are special symbols that perform operations on variables and values. Let's explore the different types of operators with simple examples.

#### Activity 1: Basic Arithmetic Operations

In [ ]:
# Addition (+) : Adds two numbers.
#addition
2+5

7

In [ ]:
#Subtraction (-): Subtracts one number from another.
#4-2
4-2

2

In [ ]:
# Multiplication (*): Multiplies two numbers.
3*2

6

In [ ]:
type(3*2)

int

In [ ]:
# Division (/): Divides one number by another.
6/2

3.0

In [ ]:
type(4/2)

float

In [ ]:
# Modulus (%): Returns the remainder of a division.
4%2

0

In [ ]:
5%2

1

In [ ]:
# Exponentiation (**): Raises one number to the power of another.
4**2

16

In [ ]:
# Floor Division (//): Divides one number by another and rounds down to the nearest integer.
5//2

2

In [ ]:
# write any text
"python"

'python'

In [ ]:
# text is called as strings
'python'
"rises"

'rises'

text----Strings
double quotation(" ") or single quotations(' ')

#### Activity 2: Working with Strings
Now, let’s play around with strings:

In [ ]:
#addition
4+5

9

In [ ]:
"earth " + "3"

'earth 3'

In [ ]:
"earth" + str(3)

'earth3'

In [ ]:
# Concatenation
"earth" + "home"

'earthhome'

In [ ]:
# Repetition
"earth" * 3

'earthearthearth'

In [ ]:
"a" * 10

'aaaaaaaaaa'

In [ ]:
# tuple
a = "earth", 3
type(a)

tuple

####Activity 3: Mixing Types
Finally, let’s see how Python handles different data types:

In [ ]:
# Adding an integer and a string
"3" + "a"

'3a'

In [ ]:
# Converting a number to a string to concatenate
str(4)

'4'

In [ ]:
"3"

'3'

In [ ]:
type("3")

str

In [ ]:
type(True)

bool

In [ ]:
type("True")

str

In [ ]:
type(9.456)

float

#### Activity 4: Variables And Data-Types

**Variables:** Names that you can assign values to, allowing you to
reuse them later on.



**Python Identifiers**

Python identifiers are names used to identify variables, functions, classes, modules, and other objects in Python code. Here are some key points about Python identifiers:

**Rules for naming variables:**
• Have to start with a letters `a-z, A-Z or underscore (_)`

• No special characters are allowed

• Can't contain spaces

• Can't be Python keywords

• Are case sensitive

As a good practice, name a variable in such a way that it reflects the nature of the value stored in it.


**What are data-types in Python?**


• **Integer (INT):** Number without decimal points

• **Floating Point Number:** Number having digits after decimal points

• **String:** Value enclosed between `single(' ')` or` doube quotes(" ")`

• **Boolean:** Either True or False values



**NOTE:**
<font color="Green">
<ol><li>The `T` in `True` and `F` in `False` must be capital because Python is case-sensitive.</li>

<li> A variable can store only one value at a time.</li>
</font></ol>

Now, let's practice Python variables by storing the various information

In [ ]:
a = 6

In [ ]:
a = 10

In [ ]:
A = 23

In [ ]:
abc123 = 10

In [ ]:
abc = 453

In [ ]:
_abc = 987

In [ ]:
ABC = 767

In [ ]:
a = 5

In [ ]:
# not valid variable names:
# 123abc
# abc@
# for
# a b

In [ ]:
help("keywords")

In [ ]:
# Activity: Create 4 different variables and store the  name, age,  Gender(True for female, False for male)and time right now in the variables.
# 1. Store a string value in a variable

# 2. Store an integer value in a variable.

# 3. Store a float-point number in a variable.

# 4. Store a boolean value in a number.
# Python can also store a boolean value, i.e., either True or False.
# The 'Yes' or 'No' values are generally represented as True or False in Python. It cannot understand Yes or No.



# If we run the code cell, we won't get any output. But the values will be assigned to these 4 variables.

**Function**: to do a task

1) Pre defined function/ ready made function
2) User defined functions

#### Activity 5: The `print()` Function
Let's print `"Hello Earth"` message using the `print()` function. The text `"Hello Earth"` is an input to the `print()` function. The output would also be the same.

When using the `print()` function, enclose the text that you need to print either in single-quotes (`''`) or in double-quotes (`""`).

To run the code, either click on the `Play` button on the left-hand side of the code cell or press the `shift` and `enter` keys together while you are active in the code cell.

In [ ]:
# Activity: Print "Hello Earth" message to a player using the 'print()' function.

In [ ]:
#Activity: Print above created variables

In [ ]:
#print("nagpur's orange")

In [ ]:
#print('nagpur's orange')

In [ ]:
#print('nagpur "orange"')

In [ ]:
#print("nagpur\'s \"orange\"")

#### Activity 6: The `input()` Function

To take input from a user in Python, you can use another function called `input()`.


 Inside the `input()` function, you can also write a message to the player to display the message before taking the required input.

 **Note**
The `input()` function takes input in the form of string.

In [ ]:
#Activity: Take input from a user and store it in the variable.

#### Activity 7: More about `print()` Function

The print function is one of the most commonly used functions in Python. It allows you to display text and variables on the screen.


*You can print multiple entities using the `print()` function by separating them with a comma.*

**NOTE:**
<font color="green"><ul><li>The text written after the hash (`#`) symbol is not a code. </li><li>Anything written after `#` is read as a plain text by Python. Such plain texts are called **comments** written by a coder to briefly explain the code.</li><li> A syntax is like a grammar of a programing language. It is a standard protocol that must be followed while writing code.</li><li>We can escape characters in python by using backslash </li></font></ul>

In [ ]:
# simple print statement
print("Hello"," how"," are","you")

**Using the sep Keyword**

The sep keyword in the print function specifies the separator between multiple arguments. By default, it is a space.

In [ ]:
# using 'sep' keyword
print("Hello","how","are","you",sep="&&&&")

In [ ]:
#Use the sep keyword to print a date in the format DD-MM-YYYY.
print("26","06","2024",sep="-")

**Newline Character \n**
The newline character \n is used to insert a new line in the output.

In [ ]:
# newline character (\n)
print("c:docs\naveen")

In [ ]:
# try more examples using \n
print("c:docs\\naveen")

In [ ]:
print(r"c:docs\naveen\n\n")

**Using the end Keyword**

The end keyword in the print function specifies what to print at the end. By default, it is a newline character (\n).

In [ ]:
# using 'end' keyword
print("hello")
print("how")
print("are")
print("you")

In [ ]:
# Use the end keyword to print a sentence in a single line using two print statements.
print("hello", end="*")
print("how",end="*")
print("are",end="*")
print("you")

**Additional Tips for Using the print Function**

You can combine sep and end keywords for more complex output formatting.
The print function can handle multiple arguments and will concatenate them with spaces unless specified otherwise.

In [ ]:
# Combining sep and end
print("Python", "is", "awesome", sep=" ", end="@" )
print("python","is","easy")