<a href="https://colab.research.google.com/github/poudyaldiksha/Data-Science-project/blob/main/Lesson_15_b2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 15: Operators, Data Analysis with Pandas

---

### Activity 1: Membership Testing for sets

Sets provide a fast way to check if an element is part of the collection.

In [ ]:
#Example
my_set = {1, 2, 3}
print(2 in my_set)
print(4 in my_set)

True
False

### Activity 2: Creating an Empty Set

 Use the `set()` function.

In [ ]:
b = ()
type(b)

tuple

In [ ]:
a = []
type(a)

list

In [ ]:
w = {}
type(w)

dict

In [ ]:
#Example
empty_set = set()
type(empty_set)

set

### Activity 3: `len()`, `add()`, `remove()`, `pop()`

**1. `len()`**

The `len()` function returns the number of elements in a set.

In [ ]:
#Example
my_set = {1, 2, 3, 4, 5, 6,6,6,6}
print(len(my_set))
my_set

6

{1, 2, 3, 4, 5, 6}

**2. `add()`**

The `add()` method adds a single element to the set. If the element is already present, the set remains unchanged since sets do not allow duplicate elements.

In [ ]:
#Example
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

my_set.add(3)  # Adding a duplicate element
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4}

**3. `remove()`**

The `remove()` method removes a specified element from the set. If the element is not present, it raises a KeyError.

In [ ]:
#Example
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set)

 # This will raise a KeyError

{1, 2, 4}

In [ ]:
#my_set.remove(5)

**Note:**
To avoid the KeyError, you can use the `discard()` method, which works like `remove()` but does not raise an error if the element is not found.

In [ ]:
#Example
my_set.discard(5)  # No error even though 5 is not in the set
print(my_set)

{1, 2, 4}

**4. `pop()`**

The `pop()` method removes and returns an arbitrary element from the set. Since sets are unordered, you cannot predict which element will be removed. If the set is empty, it raises a KeyError.

In [ ]:
m ={1,2,3,4,4,4}
m

{1, 2, 3, 4}

In [ ]:
s = [ 1,2,3,4,4,4]
s.remove(4)

In [ ]:
s

[1, 2, 3, 4, 4]

In [ ]:
#Example
my_set = {1, 2, 3, 4}
removed_element = my_set.pop()
print(removed_element)
print(my_set)

empty_set = set()
#empty_set.pop()

1
{2, 3, 4}

In [ ]:
my_set = {2,11, 3, 4, 5,9}
removed_element = my_set.pop()
print(removed_element)
print(my_set)

2
{3, 4, 5, 9, 11}

In [ ]:
my_set = {11,1, 2, 3, 4}
removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3, 4, 11}

In [ ]:

empty_set = set()
#empty_set.pop()

 **Adding New Elements to a Set**

You want to add new elements to a set dynamically as you encounter them.

In [ ]:
#Example
a = input("please give a number")
a + 10
a

please give a number11

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Example
a = input("please give a number")
w =a + "b"
w

please give a number10

'10b'

In [ ]:
a = int(input("please give a number")) # input fn always take input as string
w =a + 10
w

please give a number21

31

In [ ]:
#Example
encountered_ids = {101, 102, 103}
new_id = int(input("pls enter your id:"))

if new_id not in encountered_ids:
    encountered_ids.add(new_id)
    print("New ID added.")
else:
    print("ID already exists.")

print(encountered_ids)

pls enter your id:103
ID already exists.
{101, 102, 103}

---

# Operators

### Activity 1: Various Operators in Python

**1. Arithmetic Operators**
Arithmetic operators are used to perform mathematical operations.

**Operators:**

- `+` : Addition
- `-` : Subtraction
- `*` : Multiplication
- `/` : Division
- `%` : Modulus
- `**` : Exponentiation
- `//` : Floor division

In [ ]:
10%3

1

In [ ]:
2 ** 2

4

In [ ]:
#Example
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)  # modulus
print(a ** b)
print(a // b) #floor division

13
7
30
3.3333333333333335
1
1000
3

**NOTE:**

The `// `operator in Python is known as the floor division operator. It performs division and returns the largest possible integer that is less than or equal to the result. This is sometimes called integer division because it essentially truncates the decimal part and returns the integer part of the quotient.

In [ ]:
10/3

3.3333333333333335

In [ ]:
10//3

3

In [ ]:
20/3

6.666666666666667

In [ ]:
17//3

5

In [ ]:
#Calculate the area and perimeter of a rectangle with given length and width.
l = int(input("pls enter length:"))
w = int(input("pls enter width:"))
a = l*w
p = 2*(l+w)
print(f"area of rectangle:{a},perimeter of the rectangle:{p}")

pls enter length:2189892
pls enter width:2989211
area of rectangle:6546049255212,perimeter of the rectangle:10358206

**2. Comparison Operators**

Comparison operators compare values and return a boolean result.

Operators:

- `==` : Equal to
- `!=` : Not equal to
- `>`  : Greater than
- `<`  : Less than
- `>=` : Greater than or equal to
- `<=` : Less than or equal to

In [ ]:
#Example
a = 10
b = 20
print(a == b) # F
print(a != b) # T
print(a > b) # F
print(a < b) # T
print(a >= b) # F
print(a <= b) # T

False
True
False
True
False
True

Write a program that takes two numbers as input and checks if they are equal.

In [ ]:
#Example
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print(f"Are the numbers equal? {num1 == num2}")

Enter first number: 223
Enter second number: 22
Are the numbers equal? False

**3. Assignment Operators**

Assignment operators are used to assign values to variables.

Operators:

- `=` : Assign
- `+=` : Add and assign
- `-=` : Subtract and assign
- `*=` : Multiply and assign
- `/=` : Divide and assign
- `%= `: Modulus and assign
- `**=` : Exponentiation and assign
- `//=` : Floor division and assign

In [ ]:
a = 10
a+=5
a

15

In [ ]:
#Example
a = 10

a += 5
print(a)  # 15

a -= 3
print(a)  # 12

a *= 2
print(a)  # 24

a /= 4
print(a)  # 6.0

a %= 5
print(a)  #1.0

a **= 3
print(a)  #1.0

a //= 2
print(a)  # 0.0

15
12
24
6.0
1.0
1.0
0.0

In [ ]:
1/2

0.5

In [ ]:
1//2

0

**4. Logical Operators**

Logical operators are used to combine conditional statements.

Operators:

- `and` : Returns True if both statements are true
- `or `: Returns True if one of the statements is true
- `not` : Reverses the result, returns False if the result is true

In [ ]:
#Example
a = True
b = False
print(a and b)  # false
print(a or b)  #true
print(not a) #false

False
True
False

Write a program that checks if a number is both greater than 5 and less than 15.

In [ ]:
#Example
num = int(input("Enter a number: "))
print(f"Is the number between 5 and 15? {num > 5 and num < 15}")

Enter a number: 6778
Is the number between 5 and 15? False

**5. Membership Operators**

Membership operators are used to test if a sequence contains an element.

Operators:

- `in `: Returns True if a sequence with the specified value is present
- `not in` : Returns True if a sequence with the specified value is not present

In [ ]:
#Example
x = ["apple", "banana"]
print("banana" in x)
print("cherry" not in x)

True
True

**6. Identity Operators**

Identity operators compare the memory locations of two objects.

Operators:

- `is` : Returns True if both variables are the same object
- `is not` : Returns True if both variables are not the same object

In [ ]:
#Example
a = ["apple", "banana"]
b = ["apple", "banana"]
c = a
print(a is c)  # Output: True
print(a is b)  # Output: False
print(a == b)  # Output: True

True
False
True

In [ ]:
id(a)

140627324220800

In [ ]:
id(b)

140627295204480

In [ ]:
id(c)

140627324220800

1. Understanding the is operator:

- The `is` operator checks if two variables point to the same object in memory. It evaluates to True if both variables refer to the exact same object.

2. Understanding the == operator:

- The `==` operator checks if the values of two variables are equal. It evaluates to True if the values contained in both variables are the same.

**Mutable vs Immutable Types:**

Compare variables of mutable types (like lists) and immutable types (like strings or integers) using `is` and` ==`.

In [ ]:
i = ( 1,2)
t = (1,2)
i == t

True

In [ ]:
id(i)

140627314651904

In [ ]:
id(t)

140627295202176

In [ ]:
#Example
str1 = "hello"
str2 = "hello"
print(str1 is str2)  # Output: True (because of interning)
print(str1 == str2)  # Output: True

True
True

In [ ]:
int1 = 1000
int2 = 1000
print(int1 is int2)  # Output: False (no interning for larger integers)
print(int1 == int2)  # Output: True

False
True

In [ ]:
int1 =  50
int2 = 50
print(int1 is int2)  # Output: True (no interning for larger integers)
print(int1 == int2)

True
True

###**Interning**

Interning is an optimization technique used by Python (and some other programming languages) to manage memory efficiently and speed up the performance of certain operations. It involves reusing the same memory location for immutable objects that have the same value, instead of creating a new object each time.

**How Interning Works:**

1. **Strings:** In Python, small strings and strings that look like identifiers (e.g., variable names) are automatically interned. This means that if two string literals have the same value, Python will store them in the same memory location.
2. **Integers:** Small integers (typically in the range from -5 to 256) are also automatically interned by Python. This means that any integer within this range will refer to the same memory location.


**Benefits of Interning:**

- **Memory Efficiency:** By reusing objects, Python saves memory because it doesn't need to allocate new memory for identical values.
- **Performance Improvement:** Comparisons of interned objects are faster because Python can just compare memory addresses instead of comparing values.

**When Interning Does Not Apply:**

- For larger integers (outside the range of -5 to 256), Python does not intern by default.
- For strings created at runtime (e.g., through concatenation or other operations), interning is not guaranteed unless explicitly requested using the intern() function from the sys module.

In [ ]:
#Example
list1 = [4, 5, 6]
list2 = list1
list3 = list1.copy()

print(list1 is list2)  #true
print(list1 == list2)  # true

print(list1 is list3)  #false
print(list1 == list3)  #true

list1.append(7)
print(list1 == list2)  #true
print(list1 == list3)  #false

In [ ]:
id(list1)

In [ ]:
id(list2)

**7. Operator Precedence**

Operator precedence determines the order in which operators are evaluated in expressions. When multiple operators are used in an expression, the operator with the highest precedence is evaluated first. If two operators have the same precedence, their associativity determines the order in which they are evaluated.

In [ ]:
2+ 3 * 3 /5 **2 +(8+3+4)

17.36

In [ ]:
#Example
a = 5 + 2 * 3
print(a)

b = (5 + 2) * 3
print(b)

11
21

Write a program to demonstrate the use of parentheses to change the order of operations.

In [ ]:
#Example
result1 = 10 + 2 * 5
result2 = (10 + 2) * 5
print(f"Without parentheses: {result1}")
print(f"With parentheses: {result2}")

Without parentheses: 20
With parentheses: 60

**8. Escape Operators**
Escape characters are used to represent whitespace characters or characters that are difficult to include directly in a string.

Examples:

- `\n` : Newline
- `\t` : Tab
- `\\` : Backslash
- `\'` : Single quote
- `\"` : Double quote

In [ ]:
#Example
print("Hello\nWorld")
print("********") # Newline
print("Hello\tWorld")  # Tab
print("********")
print("Hello\'World")  # Single quote
print("********")
print("Hello\"World")  # Double quote

Hello
World
********
Hello	World
********
Hello'World
********
Hello"World

In [ ]:
#Example
print("Hello\tWorld\nThis is a backslash: \\")

Hello	World
This is a backslash: \

# Data Analysis with Pandas

## **Introduction to Data Analysis**

Before diving into the technicalities of data analysis, it's important to appreciate the value and impact of understanding data. Data analysis is the process of examining, cleaning, transforming, and modeling data to discover useful information, draw conclusions, and support decision-making.

Imagine you have access to data on monthly sales for every shop in your city. By analyzing this data, you might notice that during festivals, the sales of sweets, clothes, jewelry, and electronic products spike significantly. This observation can help businesses plan their inventory and marketing strategies better to capitalize on these peak periods.

Similarly, if you analyze tourism data, you'll see that many families in India go on vacation in May and June. This trend aligns with the school summer vacations, and understanding this can help travel agencies and hotels plan their services accordingly.

Data analysis allows us to uncover trends, patterns, and insights that can inform decisions in daily life, business, healthcare, engineering, and numerous other fields.

##**Why Pandas for Data Analysis?**
When it comes to data analysis in Python, one of the most powerful and widely used libraries is Pandas. But why Pandas? Let's delve into its background and benefits:

**1. History and Development:**

- Pandas was developed by **Wes McKinney** in **2008** while he was working at AQR Capital Management. He needed a high-performance, flexible tool to perform quantitative analysis on financial data. The name "Pandas" is derived from the term **"panel data,"** an econometrics term for data sets that include observations over multiple time periods for the same individuals.
- Since its inception, Pandas has grown rapidly in popularity and capability, becoming an essential tool for data scientists and analysts around the world.

**2. Key Features and Advantages:**



- **Ease of Use:** Pandas provides easy-to-use data structures and data analysis tools that make data manipulation simple and intuitive.
- **Flexible Data Structures:** It introduces two main data structures, **Series** and **DataFrame**, which handle different types of data effectively.
- **Data Cleaning and Preparation:** With Pandas, you can clean and prepare your data effortlessly, handling missing data, merging datasets, and reshaping data.
- **Powerful Grouping and Aggregation:** Pandas allows for powerful data grouping, aggregation, and transformation operations, enabling complex data analysis tasks.
- **Integration with Other Libraries:** Pandas integrates seamlessly with other popular Python libraries like NumPy, Matplotlib, and SciPy, enhancing its capabilities.
- **Performance:** Built on top of NumPy, Pandas provides high-performance, fast, and efficient data manipulation.

##**Introduction to Pandas Series**
In this lesson, we'll start by learning about the Pandas Series, one of the core data structures in Pandas.

**What is a Pandas Series?**

A Pandas Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floats, Python objects, etc.). It is similar to a column in a spreadsheet or a database table. And it is labeled and indexed, making it more powerful than a regular list.

###Activity 1: Creating a Pandas Series

Let's create a simple Pandas Series to understand its structure and features:

To explore the concept of Pandas Series with an example. Suppose you have a collection of 20 books, and each book has a certain number of pages ranging from 150 to 500.
(both inclusive).

We can create a Pandas Series containing the number of pages in each book by first creating a Python list and then converting it to a Pandas Series. To create a Pandas Series, you need to import the Pandas module using the import keyword.

`import pandas as pd`
Here, `pd` is an alias (or nickname) for pandas

**Note:** Unlike other functions, the `Series()` function begins with the uppercase letter S.

In [ ]:
#Activity
import pandas as pd
import random
# Create a list of page numbers for 20 books
page_numbers = [ random.randint(150,500) for i in range(20) ]
#print(page_numbers)

# Convert the list to a Pandas Series
book_pages = pd.Series(page_numbers)
book_pages

In [ ]:
print(type(book_pages))

The first column in the output represents the indices of all the items in the book_pages Pandas series. The second column contains the number of pages in the book. The data-type of each item is an `int`.

In [ ]:
#Example
x= pd.Series([1,2,3,4], index=("a","b","b","d"))
x

In [ ]:
x= pd.Series([1,2,3,4])
x

In [ ]:
#Example

labels = ['a','b','c']
my_data = [10,20,30]


print(pd.Series(my_data))
print('==================')
print(pd.Series(my_data,index=labels))

In [ ]:
#Example
roll_num =[ 748847, 887283,889832]
names=["rich","courage","shine"]
series1= pd.Series(roll_num,index=names)
series1

In [ ]:
# series of numbers from 11 to 20
ser = pd.Series(data = range(11,21),index=range(11,21))
ser

In [ ]:
# example
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
print(series2)

### Activity 2: Exploring the Pandas Series

A Pandas Series can also contain items of multiple data types. Let's store the title of a book, its number of pages, the price, and whether it's available in paperback.

In [ ]:
# Create a Pandas Series with mixed data types
book_details = pd.Series(["the book",182,288.99,True])
book_details

In [ ]:
print(type(book_details))

**Note:**

Here, the data type is object. Pandas cannot return the data type of every individual item, so it returns object to represent a common data type for all items.

**Creating Empty Series**

In [ ]:
#empty series
emp_s = pd.Series([])
print(emp_s)

In [ ]:
emp_s = pd.Series(())
print(emp_s)

In [ ]:
emp_s = pd.Series({})
print(emp_s)

**Creating series from scalar values**

In [ ]:
#Example
s = pd.Series(2)
print(s)

In [ ]:
print(type(s))

 **Creating series from python dictionary**

In [ ]:
#example
s_dict = pd.Series({'a':1, 'b':2, 'c':3})
print(s_dict)

**Adding two series**

In [ ]:
#example
series1 = pd.Series([1,2,3,4,5])
series2 = pd.Series([1,2,3,4,5])

a = series1 + series2
print(a)

**We can also add series using add() function:**

In [ ]:
#example
series1.add(series2)

### Activity 3: Finding the Number of Items
You can use the size attribute to find the number of items in a Pandas Series.

In [ ]:
book_pages

In [ ]:
 #Find the number of items in the book_pages Pandas Series using the size attribute.
print(book_pages.size)

You can also use the shape attribute to find the number of rows and columns in a Pandas Series.

In [ ]:
#Find the number of rows and columns in the book_pages Pandas Series using the shape attribute.
print(book_pages.shape)

In [ ]:
a = book_pages.shape
type(a)

In [ ]:
a[0]

So, there are 20 rows and 1 column in the book_pages Pandas series.

### Activity 4: Calculating Mean, Min, and Max

You can calculate the mean, minimum, and maximum values in a Pandas Series using the `mean()`, `min()`, and `max()` functions.

In [ ]:
#Calculate the average number of pages in the book_pages Series.
print(book_pages.mean())

In [ ]:
#Find the minimum and maximum number of pages in the book_pages Series.
print(book_pages.min())
print(book_pages.max())


###Activity 5: Viewing specific data using `head()` and `tail()` Functions

To view the first few or the last few items in a Pandas Series, use the `head()` and `tail()` functions.

Sometimes instead of looking at the full dataset, we just want to look at the first few rows or the last few rows of the dataset. In such cases, we can use the `head()` and `tail()` function.

The `head()` function shows the first five and the `tail()` function shows the last five items in a Pandas series by default.

In [ ]:
#Print the first 5 items in the book_pages Series using the head() function.
book_pages.head()

In [ ]:
#Print the last 5 items in the book_pages Series using the tail() function.
book_pages.tail()

You can also specify the number of items to display.

In [ ]:
 #Print the first 8 items in the book_pages Series using the head() function.
book_pages.head(7)

### Activity 6: The `head()` & `tail()` Functions With Negative Inputs

Let `pd_series` be a Pandas series which contains `N` number of elements. Let `n` be some positive integer such that `n < N`.

The `pd_series.head(-n)` operation will return the **first** `N - n` items contained in the `pd_series`.

In [ ]:
# 'head()' with negative input.
book_pages.head(-5).tail(1)

The `pd_series.tail(-n)` operation will return the **last** `N - n` items contained in the `pd_series`.

In [ ]:
# 'tail()' with negative input.
book_pages.tail(-5)

### Activity 7: Indexing a Pandas Series
Indexing a Pandas Series is similar to indexing a Python list or a NumPy array.

**Syntax:** `pandas_series[start_index:end_index:step_size]`

In [ ]:
book_pages

In [ ]:
book_pages[10]

294

In [ ]:
# Retrieve items with indices ranging from 5 to 10
book_pages[5:11]

In [ ]:
#Print the items ranging from indices 8 to 15.
book_pages[8:16:2]

### Activity 8: Using the `mode()` Function
To find the most frequently occurring values in a Pandas Series, use the `mode()` function.

In [ ]:
#Compute the modal value in the book_pages Series.
book_pages.mode()