<a href="https://colab.research.google.com/github/poudyaldiksha/Data-Science-project/blob/main/Lesson_14_b2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 14: String Methods and Functions- III, Sets

**Strings**

So far, we have been calling strings a data-type. But technically, in Python, a string is another data structure just like a list, a tuple, and a dictionary. Therefore, it means a string also stores data. Essentially, a string is an array containing some items. Any character (whether a letter, a number, or a special symbol like space, brackets, etc.) enclosed within double quotes `("")` or single quotes `('')` is considered a string.

---

### Activity 1: The `format()` Function

The `format()` function allows you to format strings by placing placeholders in the string and replacing them with specified values.

**Syntax:**

`formatted_string = "String with {} placeholders".format(value)`

Here's a breakdown of its components:

- `{}`: This is a placeholder where values will be inserted.
- `.format(value)`: This method replaces the placeholder {} with the value provided.

In [ ]:
#Example

name = input("please enter your name:")
age = input("please mention your age:")
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

please enter your name:45
please mention your age:john
My name is 45 and I am john years old.

In [ ]:
# Example: Formatting a Greeting Message
#Data
name = "Alice"
age = 25
city = "New York"

# Using format() function
greeting = "Hello, my name is {}. I am {} years old and I live in {}.".format(name, age, city)

# Printing the formatted string
print(greeting)

Hello, my name is Alice. I am 25 years old and I live in New York.

**Labelling Placeholders**

When there are too many placeholders to fill, you might lose a track of what value to put to what placeholder. In such cases, the better approach is to label the placeholders in such a way that they describe the values to put to the placeholders.

In [ ]:
# Example: Formatting a Greeting Message
#Data
name = "Alice"
age = 25
city = "New York"

# Using format() function
greeting = "Hello, my name is {a}. I am {b} years old and I live in {c}.".format( b=age, c=city,a = name)

# Printing the formatted string
print(greeting)

Hello, my name is Alice. I am 25 years old and I live in New York.

In [ ]:
#Example: Formatting a Product Listing

# Data
product = "Laptop"
price = 79999
quantity = 5

# Using format() function with labeled placeholders
product_listing = "Product: {product}, Price: {price}, Quantity: {quantity}".format(
    product=product, price=price, quantity=quantity)

# Printing the formatted string
print(product_listing)

Product: Laptop, Price: 79999, Quantity: 5

As you can see, we have labelled the placeholders with the to determine which value to assign to which placeholder. Then, using the `format()` function, we have assigned the values to their respective placeholders.

### Activity 2: Zero Padding

Zero padding is a technique used to ensure that numbers are displayed with a fixed width by adding leading zeros if necessary. This is particularly useful when you want to align numbers in a table or when you need to format numbers in a specific way.

You can print a single-digit number as an $n$-digit number, such that the first $(n - 1)$ digits are zeros, using the `format()` function. E.g., you can print 5 as 005. To do this, you have to put the `:0n` flag inside a placeholder where `n` is the number of digits to be displayed in the final number.


To zero pad a number using the `format()` function, you use the `:0n` flag inside the placeholder. Here, n is the total width of the final number, including the zeros and the original number.

**Syntax:** `"{:0n}".format(number)`

`{}` is the placeholder for the value to be formatted.

`:` introduces the format specification.

`0` indicates that you want to pad with zeros.

`n` is the total width of the final number.

In [ ]:
print("{:05}".format("t"))

t0000

In [ ]:
print("{:05}".format("2"))

20000

In [ ]:
t= "{:05}".format(2)
type(t)

str

In [ ]:
print("{:05}".format(2))

00002

In [ ]:
a = "{:05}".format("2")
type(a)

In [ ]:
#Print the natural numbers between 5 and 15 as three-digit numbers.
for i in range(5,16):
  print("{:03}".format(i))

005
006
007
008
009
010
011
012
013
014
015

**Aligning Numbers in a Table**
When printing numbers in a table, zero padding ensures that all numbers align correctly in their respective columns, making the table easier to read.

In [ ]:
#Example
numbers = [1, 23, 456, 7890]
for num in numbers:
    print("{:04}".format(num))

0001
0023
0456
7890

In [ ]:
#Example
data = [
    [1, 23, 456],
    [78, 9, 345],
    [12, 34, 5]
]

# Print the table with zero-padded numbers
for row in data:
    for number in row:
        print("{:04}".format(number), end="@@@")
    print()

0001@@@0023@@@0456@@@
0078@@@0009@@@0345@@@
0012@@@0034@@@0005@@@

In [ ]:
#Example
data = [
    [1, 23, 456],
    [78, 9, 345],
    [12, 34, 5]
]

# Print the table with zero-padded numbers
for row in data:
    for number in row:
        print("{:04}".format(number))
    print()

0001
0023
0456

0078
0009
0345

0012
0034
0005

**Formatting Dates**
Zero padding is often used in date formatting to ensure that day and month numbers are always two digits.

In [ ]:
#Example
day = 7
month = 12
year = 2024
formatted_date = "{:02}/{:02}/{}".format(day, month, year)
print(formatted_date)

07/12/2024

---

### Activity 3: Digits After Decimal


Similarly `format()` function in Python allows you to control the number of digits displayed after the decimal point. This is particularly useful when you need to present numerical data in a standardized format, such as rounding values to a specific precision for reporting or display purposes.



To do this, you have to put the `:.nf` flag inside a placeholder where `n` is the number of digits to be displayed after the decimal point.

**Syntax:** `"{:.nf}".format(number)`

`{} `is the placeholder for the value to be formatted.

`:` introduces the format specification.

`.n` specifies the number of digits after the decimal point.

`f `indicates that the number is a floating-point number.

In [ ]:
print("{:.3f}".format(5.6783456))

5.678

In [ ]:
print("{:.1f}".format(5.6783456))

5.7

In [ ]:
round(5.67834,2)

5.68

Let's say you have a list of average monthly temperatures (in Celsius) for a city and you want to print them rounded to one decimal place.

In [ ]:
temperatures = [23.456, 24.789, 22.334, 21.567, 23.987]

# Using format() function to display temperatures rounded to one decimal place
for temp in temperatures:
    formatted_temp = "{:.1f}".format(temp)
    print(formatted_temp)

23.5
24.8
22.3
21.6
24.0

---

###  Activity 4: Commas After Digits
When dealing with large numbers, it's often useful to format them with commas to make them easier to read. The `format()` function in Python provides a simple way to insert commas in large numbers.

To do this, you need to put the `:,` flag inside a placeholder.

**Syntax:** `"{:,}".format(number)`

In [ ]:
print("{:,}".format(2898392090909099999090900))

2,898,392,090,909,099,999,090,900

In [ ]:
o = "{:,}".format(2898392090909099999090900)
type(o)
#t = int(o)
type(t)

str


Let's Consider a list of population data for different countries. You can format each population number with commas for clarity.

In [ ]:
#Example
populations = [331002651, 1380004385, 212559417, 145934462]

# Using format() function to add commas to each population number
for population in populations:
    formatted_population = "{:,}".format(population)
    print(formatted_population)

331,002,651
1,380,004,385
212,559,417
145,934,462

In the above case, you can also print digits after the decimal point along with the commas.

### Activity 5: The `f-strings` or f-literals

The `f-strings` is a cleaner and a faster way of formatting a string as compared to the `format()` function. The concepts of zero paddings, digits after the decimal point, commas after digits etc. are also applicable in case of the formatting through `f` literal in the exact same way.  However, the `f-strings` are applicable only to the newer versions of Python, specifically, version 3.6 and above. f-strings provide a more readable and concise way to embed expressions inside string literals using curly braces `{}`.

Introduction of `f-string` does not necessarily mean that the `format()` function has become irrelevant. Many Python programmers still use the `format()` function to make their code compatible with the older versions of Python. It is also more convenient while working with multiline strings.

Before we learn formatting through the literal `f`, let's check the Python version installed on Colab notebooks by Google. You can do this by writing the `!python --version` bash command.

**Note:**

1. Every notebook has the same version of Python installed.

2. If you are working on a terminal window of a Linux/Unix based machine, then you don't have to use the exclamation mark in the bash command, i.e., the command becomes `python --version`.

**Why Use f-strings?**
- Readability: `f-strings` are more readable and easier to understand.
- Performance: `f-strings` are faster than the `format()` function.
- Flexibility: All formatting options available in the `format()` function are also available in `f-strings`.

In [ ]:
#Check the version of Python installed on Colab notebooks.
!python --version

Python 3.10.12

In [ ]:
# formatting using f literal
name = "John"
age = 25
greeting = f"Hello, my name is {name} and I am {age} years old."
print(greeting)

Hello, my name is John and I am 25 years old.

Notice how variables name and age are directly embedded inside the string using curly braces `{}`.

In [ ]:
#formatting using format() function
a = "John"
b = 15
greet="hello, my name is {} and I am {}".format(a,b)
greet

**Zero Padding with f-strings**

You can use f-strings to format numbers with leading zeros. The syntax is the same as with the `format()` function:

In [ ]:
#Example
number = 5
formatted_number = f"{number:03}"
print(formatted_number)

005

In [ ]:
f"{3:05}"

'00003'

In [ ]:
"how {:03}".format(5)

'how 005'

**Rounding Off Decimals with f-strings**

You can control the number of digits after the decimal point in floating-point numbers:

In [ ]:
#Example
pi = 3.14159
formatted_pi = f"{pi:.2f}"
print(formatted_pi)

3.14

**Adding Commas with f-strings**

For large numbers, you can add commas to separate thousands:

In [ ]:
#Example
large_number = 1234567890
formatted_number = f"{large_number:,}"
print(formatted_number)

1,234,567,890

Imagine you are creating a price list for a store. You want to format the prices to include two decimal places and commas.

In [ ]:
#Example
prices = [1234.5, 56789.123, 987654.321]
formatted_prices = [f"${price:,.2f}" for price in prices]
for price in formatted_prices:
    print(price)

$1,234.50
$56,789.12
$987,654.32

You are creating a scoreboard for a game. You want to display the scores with leading zeros so that they are always three digits long.

In [ ]:
#Example
scores = [7, 42, 105]
formatted_scores = [f"{score:03}" for score in scores]
for score in formatted_scores:
    print(score)

007
042
105

Format a list of dates to include leading zeros for single-digit days and months.

In [ ]:
#Example
dates = [(1, 2, 2024), (12, 11, 2023), (7, 8, 2025)]
formatted_dates = [f"{day:02}/{month:02}/{year}" for day, month, year in dates]
for date in formatted_dates:
    print(date)

01/02/2024
12/11/2023
07/08/2025

The literal `f`, works exactly like the `format()` function. You simply have to write a final version of a string containing placeholders. The placeholders need to be labelled with the variable names that contain the values to be placed in the respective placeholders.

---

### Activity 6: Mathematical Operations Inside Placeholders

You can also perform mathematical operations inside the placeholders.

In Python, `f-strings` (formatted string literals) offer a powerful feature where you can embed expressions, including mathematical operations, directly inside the placeholders. This makes it convenient to compute values on-the-fly and include them in your formatted strings. Let's explore this feature in detail with examples.

**Mathematical Operations Inside f-strings**

You can perform mathematical operations directly inside the curly braces `{}` of an `f-string`. This allows you to compute values and format them dynamically within your string.

Let's start with a simple example of adding two numbers inside an `f-string`:

In [ ]:
#Example 1: Addition
a = 10
b = 20

result = f"The sum of {a} and {b} is {a + b}."
print(result)

The sum of 10 and 20 is 30.

You can also perform multiplication and division operations:

In [ ]:
#You can also perform mathematical operations inside the placeholders.
print(f"{2 * 10}")

20

In [ ]:
#Example 2: Multiplication and Division
num1 = 15
num2 = 3
result_mult = f"The product of {num1} and {num2} is {num1 * num2}."
result_div = f"The division of {num1} by {num2} is {num1 / num2}."
print(result_mult)
print(result_div)

The product of 15 and 3 is 45.
The division of 15 by 3 is 5.0.

In [ ]:
#example
num_of_pens = 5
cost_of_each = 3
total_cost = " Since you have purchased {} pens, total cost is {} Rs "
print(total_cost.format(num_of_pens, num_of_pens * cost_of_each))

 Since you have purchased 5 pens, total cost is 15 Rs

In [ ]:
" Since you have purchased {} pens, total cost is {} Rs ".format(num_of_pens, num_of_pens * cost_of_each)

' Since you have purchased 5 pens, total cost is 15 Rs '

In [ ]:
# temperature conversion
fahrenheit = 103
celsius = (fahrenheit - 32) * 5 / 9
result = f"{fahrenheit} degrees Fahrenheit is {celsius:.2f} degrees Celsius."
print(result)

103 degrees Fahrenheit is 39.44 degrees Celsius.

In [ ]:
celsius = (98.6 - 32) * 5 / 9
celsius

37.0

In [ ]:
#simple interest calculator
principal = 1000
rate = 5
time = 2
simple_interest = principal * rate * time / 100
result = f"Simple Interest: {simple_interest}."
print(result)

Simple Interest: 100.0.

In [ ]:
a = "python"

#Sets in Python, Operators

A set is a unique collection of items that is both unordered and unindexed. This means that each element in a set is unique (no duplicates allowed), and the elements have no specific order. Sets are a fundamental data structure in Python, providing an efficient way to store and manipulate collections of distinct items.

### Activity 1:

Creating a Set with Elements: Use curly braces `{} `with elements separated by commas.

In [ ]:
# Example of set
a = {1,2,3}
a

{1, 2, 3}

In [ ]:
type(a)

set

In [ ]:
# Example of set
fruits = { "apple","mango","cherry"}
fruits

{'apple', 'cherry', 'mango'}

In [ ]:
type(fruits)

set

In [ ]:
b = {1:1,2:2}
type(b)

dict



###Activity 2: Key Characteristics of Sets

**1. Unordered:**

Unlike lists or tuples, sets do not maintain any particular order. The elements in a set do not have a defined sequence.

In [ ]:
#Example
my_set = {3, 1, 4,7,0,2,10}
print(my_set)

{0, 1, 2, 3, 4, 7, 10}

**NOTE:**

In Python, sets are unordered collections, which means that the elements have no specific order when they are stored. However, when you print a set, the elements might appear in a seemingly ordered manner due to the way the internal hashing mechanism of sets works. This behavior is not guaranteed, and you should not rely on sets to maintain any particular order of elements.

In some environments like Google Colab, Jupyter notebooks, or even certain Python implementations, the printed order of a set's elements can appear sorted, but this is purely coincidental. The actual order is determined by the underlying hashing algorithm and how it manages the elements in the memory.

**2. Unique Elements:**

A set cannot have duplicate elements. If you try to add a duplicate element, it will be ignored.

In [ ]:
#Example
my_set = {1, 2, 2, 3,5,6,8,8,8}
print(my_set)

{1, 2, 3, 5, 6, 8}

**3. Mutable:**

Sets are mutable, meaning you can add, remove, or modify elements after the set has been created.

In [ ]:
#Example
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

**4. Unindexed:**
 Sets do not support indexing, slicing, or other sequence-like behavior.

In [ ]:
#Example

my_set = {1, 2, 3}
#my_set[0]

**Note:** It will raise an error since sets are unindexed

### Activity 3: Eliminating Duplicates



 Sets automatically handle duplicate entries, which can be particularly useful for filtering unique items from a list.

In [ ]:
#Example

my_list = [1, 2, 2, 3, 3, 3]
unique_set = set(my_list)
print(unique_set)

{1, 2, 3}

In [ ]:
#Unique Words in a Text
text = "This is a sample text with several words. This text is just a sample."
words = text.split()
print(words)
unique_words = set(words)
print(unique_words)

['This', 'is', 'a', 'sample', 'text', 'with', 'several', 'words.', 'This', 'text', 'is', 'just', 'a', 'sample.']
{'a', 'text', 'sample', 'with', 'sample.', 'just', 'This', 'is', 'words.', 'several'}

### Activity 4: Mathematical Operations


Sets in Python support various mathematical operations that are commonly used in set theory. These operations include union, intersection, difference, and symmetric difference. Here are some detailed examples of these operations:

**1. Union**

The union of two sets is a set containing all elements from both sets, without duplicates.

**Using `union()` Method:**

In [ ]:
#Example
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

**Using ` | ` Operator:**

In [ ]:
#Example
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

**2. Intersection**

The intersection of two sets is a set containing only the elements that are present in both sets.

**Using `intersection()` Method:**

In [ ]:
#Example
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

**Using ` & ` Operator:**

In [ ]:
#Example
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1 & set2
print(intersection_set)

{3}

**3. Difference**

The difference of two sets is a set containing elements that are in the first set but not in the second set.

**Using `difference()` Method:**

In [ ]:
#Example
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [ ]:
set1 = {1, 2, 3,5,6,7,8}
set2 = {3, 4, 5,8}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2, 6, 7}

**Using  `-`  Operator:**

In [ ]:
#Example
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 - set2
print(difference_set)

{1, 2}

**4. Symmetric Difference**

The symmetric difference of two sets is a set containing elements that are in either of the sets but not in both.

**Using `symmetric_difference()` Method:**

In [ ]:
#Example
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)

{1, 2, 4, 5}

**Using `^` Operator:**
`^` circumflex

In [ ]:
#Example
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff_set = set1 ^ set2
print(sym_diff_set)

{1, 2, 4, 5}

**5. Subset and Superset**

- A set is a **subset** of another set if all elements of the first set are in the second set.
- A set is a **superset** of another set if it contains all elements of the second set.

**Subset:**

In [ ]:
#Example
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print(is_subset)

True

**Superset:**

In [ ]:
#Example
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1.issuperset(set2)
print(is_superset)

True

**6. Disjoint Sets**

Two sets are disjoint if they have no elements in common.

**Using `isdisjoint()` Method:**

In [ ]:
#Example
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
print(are_disjoint)

True

### Activity 5: Membership Testing

Sets provide a fast way to check if an element is part of the collection.

In [ ]:
#Example
my_set = {1, 2, 3}
print(2 in my_set)
print(4 in my_set)

### Activity 6: Creating an Empty Set

 Use the `set()` function.

In [ ]:
#Example
empty_set = set()
type(empty_set)

### Activity 7: `len()`, `add()`, `remove()`, `pop()`

**1. `len()`**

The `len()` function returns the number of elements in a set.

In [ ]:
#Example
my_set = {1, 2, 3, 4, 5, 6,6,6,6}
print(len(my_set))
my_set

**2. `add()`**

The `add()` method adds a single element to the set. If the element is already present, the set remains unchanged since sets do not allow duplicate elements.

In [ ]:
#Example
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

my_set.add(3)  # Adding a duplicate element
print(my_set)

**3. `remove()`**

The `remove()` method removes a specified element from the set. If the element is not present, it raises a KeyError.

In [ ]:
#Example
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set)

#my_set.remove(5)  # This will raise a KeyError

**Note:**
To avoid the KeyError, you can use the `discard()` method, which works like `remove()` but does not raise an error if the element is not found.

In [ ]:
#Example
my_set.discard(5)  # No error even though 5 is not in the set
print(my_set)

**4. `pop()`**

The `pop()` method removes and returns an arbitrary element from the set. Since sets are unordered, you cannot predict which element will be removed. If the set is empty, it raises a KeyError.

In [ ]:
#Example
my_set = {1, 2, 3, 4}
removed_element = my_set.pop()
print(removed_element)
print(my_set)

empty_set = set()
#empty_set.pop()

In [ ]:
my_set = {11,1, 2, 3, 4}
removed_element = my_set.pop()
print(removed_element)
print(my_set)

empty_set = set()
#empty_set.pop()

 **Adding New Elements to a Set**

You want to add new elements to a set dynamically as you encounter them.

In [ ]:
#Example
encountered_ids = {101, 102, 103}
new_id = int(input("pls enter your id:"))

if new_id not in encountered_ids:
    encountered_ids.add(new_id)
    print("New ID added.")
else:
    print("ID already exists.")

print(encountered_ids)

---

# Operators

### Activity 8: Various Operators in Python

**1. Arithmetic Operators**
Arithmetic operators are used to perform mathematical operations.

**Operators:**

- `+` : Addition
- `-` : Subtraction
- `*` : Multiplication
- `/` : Division
- `%` : Modulus
- `**` : Exponentiation
- `//` : Floor division

In [ ]:
#Example
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)  # modulus
print(a ** b)
print(a // b) #floor division

In [ ]:
7/3

In [ ]:
7//3

In [ ]:
10//4

In [ ]:
-7//3

In [ ]:
9//3

**NOTE:**

The `// `operator in Python is known as the floor division operator. It performs division and returns the largest possible integer that is less than or equal to the result. This is sometimes called integer division because it essentially truncates the decimal part and returns the integer part of the quotient.

In [ ]:
#Calculate the area and perimeter of a rectangle with given length and width.
l = int(input("pls enter length:"))
w = int(input("pls enter width:"))
a = l*w
p = 2*(l+w)
print(f"area:{a},perimeter:{p}")

**2. Comparison Operators**

Comparison operators compare values and return a boolean result.

Operators:

- `==` : Equal to
- `!=` : Not equal to
- `>`  : Greater than
- `<`  : Less than
- `>=` : Greater than or equal to
- `<=` : Less than or equal to

In [ ]:
#Example
a = 10
b = 20
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

In [ ]:
5<=5

Write a program that takes two numbers as input and checks if they are equal.

In [ ]:
#Example
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print(f"Are the numbers equal? {num1 == num2}")

**3. Assignment Operators**

Assignment operators are used to assign values to variables.

Operators:

- `=` : Assign
- `+=` : Add and assign
- `-=` : Subtract and assign
- `*=` : Multiply and assign
- `/=` : Divide and assign
- `%= `: Modulus and assign
- `**=` : Exponentiation and assign
- `//=` : Floor division and assign

In [ ]:
a = 10
a+=5
a

In [ ]:
a-=3
a

In [ ]:
a = 10
a-=3
a

In [ ]:
#Example
a = 10

a += 5
print(a)  # 15

a -= 3
print(a)  # 12

a *= 2
print(a)  # 24

a /= 4
print(a)  # 6.0

a %= 5
print(a)  #1.0

a **= 3
print(a)  #1.0

a //= 2
print(a)  # 0.0

**4. Logical Operators**

Logical operators are used to combine conditional statements.

Operators:

- `and` : Returns True if both statements are true
- `or `: Returns True if one of the statements is true
- `not` : Reverses the result, returns False if the result is true

In [ ]:
#Example
a = True
b = False
print(a and b)  # false
print(a or b)  #true
print(not a) #false

Write a program that checks if a number is both greater than 5 and less than 15.

In [ ]:
#Example
num = int(input("Enter a number: "))
print(f"Is the number between 5 and 15? {num > 5 and num < 15}")

**5. Membership Operators**

Membership operators are used to test if a sequence contains an element.

Operators:

- `in `: Returns True if a sequence with the specified value is present
- `not in` : Returns True if a sequence with the specified value is not present

In [ ]:
#Example
x = ["apple", "banana"]
print("banana" in x)
print("cherry" not in x)

**6. Identity Operators**

Identity operators compare the memory locations of two objects.

Operators:

- `is` : Returns True if both variables are the same object
- `is not` : Returns True if both variables are not the same object

In [ ]:
#Example
a = ["apple", "banana"]
b = ["apple", "banana"]
c = a
print(a is c)  # Output: True
print(a is b)  # Output: False
print(a == b)  # Output: True

In [ ]:
c

In [ ]:
id(a)

In [ ]:
id(b)

133843031897984

In [ ]:
id(c)

1. Understanding the is operator:

- The `is` operator checks if two variables point to the same object in memory. It evaluates to True if both variables refer to the exact same object.

2. Understanding the == operator:

- The `==` operator checks if the values of two variables are equal. It evaluates to True if the values contained in both variables are the same.

**Mutable vs Immutable Types:**

Compare variables of mutable types (like lists) and immutable types (like strings or integers) using `is` and` ==`.

In [ ]:
#Example
str1 = "hello"
str2 = "hello"
print(str1 is str2)  # Output: True (because of interning)
print(str1 == str2)  # Output: True

int1 = 1000
int2 = 1000
print(int1 is int2)  # Output: False (no interning for larger integers)
print(int1 == int2)  # Output: True

In [ ]:
a = 5
b = 5
a is b

###**Interning**

Interning is an optimization technique used by Python (and some other programming languages) to manage memory efficiently and speed up the performance of certain operations. It involves reusing the same memory location for immutable objects that have the same value, instead of creating a new object each time.

**How Interning Works:**

1. **Strings:** In Python, small strings and strings that look like identifiers (e.g., variable names) are automatically interned. This means that if two string literals have the same value, Python will store them in the same memory location.
2. **Integers:** Small integers (typically in the range from -5 to 256) are also automatically interned by Python. This means that any integer within this range will refer to the same memory location.


**Benefits of Interning:**

- **Memory Efficiency:** By reusing objects, Python saves memory because it doesn't need to allocate new memory for identical values.
- **Performance Improvement:** Comparisons of interned objects are faster because Python can just compare memory addresses instead of comparing values.

**When Interning Does Not Apply:**

- For larger integers (outside the range of -5 to 256), Python does not intern by default.
- For strings created at runtime (e.g., through concatenation or other operations), interning is not guaranteed unless explicitly requested using the intern() function from the sys module.

In [ ]:
#Example
list1 = [4, 5, 6]
list2 = list1
list3 = list1.copy()

print(list1 is list2)  #true
print(list1 == list2)  # true

print(list1 is list3)  #false
print(list1 == list3)  #true

list1.append(7)
print(list1 == list2)  #true
print(list1 == list3)  #false

In [ ]:
id(list1)

In [ ]:
id(list2)

**7. Operator Precedence**

Operator precedence determines the order in which operators are evaluated in expressions. When multiple operators are used in an expression, the operator with the highest precedence is evaluated first. If two operators have the same precedence, their associativity determines the order in which they are evaluated.

In [ ]:
#Example
a = 5 + 2 * 3
print(a)

b = (5 + 2) * 3
print(b)

Write a program to demonstrate the use of parentheses to change the order of operations.

In [ ]:
#Example
result1 = 10 + 2 * 5
result2 = (10 + 2) * 5
print(f"Without parentheses: {result1}")
print(f"With parentheses: {result2}")

**8. Escape Operators**
Escape characters are used to represent whitespace characters or characters that are difficult to include directly in a string.

Examples:

- `\n` : Newline
- `\t` : Tab
- `\\` : Backslash
- `\'` : Single quote
- `\"` : Double quote

In [ ]:
#Example
print("Hello\nWorld")  # Newline
print("Hello\tWorld")  # Tab

print("Hello\'World")  # Single quote
print("Hello\"World")  # Double quote

In [ ]:
print('Hello\\world')

In [ ]:
print('Hello\world')

Hello\world

In [ ]:
print("hello\naveen")

hello
aveen

In [ ]:
print("hello\\naveen")

hello\naveen


Write a program that prints a string containing a tab, newline, and backslash.

In [ ]:
#Example
print("Hello\tWorld\nThis is a backslash: \\")

Hello	World
This is a backslash: \

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]

# Get unique values using list comprehension
unique_list = []
[unique_list.append(x) for x in my_list if x not in unique_list]

print(unique_list)