<a href="https://colab.research.google.com/github/poudyaldiksha/Data-Science-project/blob/main/Lesson_6_b2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 6: List Comprehension, Numpy

---

 ## List Comprehension

 It is one of the great features of Python programming as it can create the most complicated lists through only a few lines of code.

### Activity 1: The List Comprehension Method

The list comprehension method creates a Python list in a single line of code. It does not solve a new problem. It only provides a new syntax to solve an existing problem.

The core component of a list comprehension is the `for` loop. To create a list using the list comprehension method, first, write the square brackets `[]`. Then inside the brackets, use the `for` loop.

**Syntax:**
```python
[expression for variable_name in list_or_sequence]
```




Let's create a list of the first `10` natural numbers using the list comprehension method.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Create a Python list containing the first 10 natural numbers using the 'for' loop.
emp_list = []
for i in range(1,11):
    emp_list.append(i)
print(emp_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
 #Create a Python list containing the first 10 natural numbers using the list comprehension method.

emp_list2 = [ i**2 for i in range(1,11)]
emp_list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

The list comprehension `[i for i in range(1, 11)]` should be read as "*Append `i` to the list, for every value of `i` in the range of `1` to `10`.*"

You will notice that the list comprehension eliminated the need of `append()` function.

In [ ]:
old_list = [ 10,20,30,40,50]
new_list = []
for i in old_list:
  new_list.append(i)
print(new_list)

[10, 20, 30, 40, 50]

In [ ]:
old_list = [ 10,20,30,40,50]
emp_3 = [i for i in old_list]
emp_3

[10, 20, 30, 40, 50]

In [ ]:
# Copy items to a new list using list comprehension method

old_list = [50,67,89,87,34]
new_list = [ i for i in old_list]
new_list

**Using conditional statement in list comprehension:**

You can also use a conditional statement in a list comprehension.

**Syntax:**
```python
[expression for variable_name in list_or_sequence if condition]
```

In [ ]:
# Example:
cube = [ i**3 for i in [1,2,3,4,5] if i>2]
cube

[27, 64, 125]

In [ ]:
#Create a list of even numbers from 1 to 20 using the conventional list creation method.
even_numbers = []
for i in range(1,21):
  if i % 2 == 0:
    even_numbers.append(i)
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Create a list of even numbers from 1 and 20 using the list comprehension method.

even_num = [i for i in range(1,21) if i%2==0]
even_num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

The list comprehension `[i for i in range(1, 21) if i % 2 == 0]` should be read as "*Add `i` to the list, for every value of `i` in the range of numbers from `1` to `20`, if `i` is divisible by 2*".

### Activity 2: Nested Lists Using List Comprehension

We can also create nested lists using the list comprehension method.

The creation of nested lists manually is a tedious job. We have to take care of indentation so that the list is readable in the code form. You may miss out on commas, brackets, spaces, etc. while creating a nested list. Hence, the manual nested list creation process becomes time-consuming.

Using list comprehension method, we can create a nested list more neatly and quickly.

Suppose you have two lists and you want to join them into one nested list, then you can use the list comprehension method.

 Let's consider an example with cars, where we have lists of car models, their engine sizes (in liters), fuel efficiency (in kilometers per liter), and top speeds (in kilometers per hour).

We will create a nested list using list comprehension to store this data.


```
car_models = ['Toyota Camry', 'Honda Accord', 'Ford Mustang', 'Chevrolet Malibu', 'BMW 3 Series']
engine_sizes = [2.5, 1.5, 5.0, 2.0, 3.0]
fuel_efficiency = [12.3, 14.0, 6.4, 11.5, 10.6]  
top_speeds = [210, 201, 249, 193, 249]  per hour
```

In [ ]:
cars = [ ['Toyota Camry',2.5,12.3,210]]
cars

[['Toyota Camry', 2.5, 12.3, 210]]

In [ ]:
# Define lists for car data
car_models = ['Toyota Camry', 'Honda Accord', 'Ford Mustang', 'Chevrolet Malibu', 'BMW 3 Series']
engine_sizes = [2.5, 1.5, 5.0, 2.0, 3.0]
fuel_efficiency = [12.3, 14.0, 6.4, 11.5, 10.6]  # Fuel efficiency in kilometers per liter
top_speeds = [210, 201, 249, 193]  # Top speeds in kilometers per hour

n = len(car_models)

car_data = [ [car_models[i],engine_sizes[i],fuel_efficiency[i]  ] for i in range(n)]
car_data

[['Toyota Camry', 2.5, 12.3],
 ['Honda Accord', 1.5, 14.0],
 ['Ford Mustang', 5.0, 6.4],
 ['Chevrolet Malibu', 2.0, 11.5],
 ['BMW 3 Series', 3.0, 10.6]]

Now, let's create a nested list using the list comprehension method which has 4 identical sublists containing `0` as its every item.

Here's the desired output:

```
[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
```

In [ ]:
zeros = [0 for i in range(3)]
zeros

[0, 0, 0]

In [ ]:
zeros2 = [[0 for i in range(3)] for i in range(4)]
zeros2

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [ ]:
zeros3 = [[[0 for i in range(3)] for i in range(4)] for i in range(3)]
zeros3

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

In [ ]:
#Create a nested Python list using the list comprehension method,
#which contains 4 identical lists containing 0 as its every item.

In [ ]:
lis1 = [ 1,2,3,4]
lis1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
type(lis1)

list

In [ ]:
lis2 = [5,6,7,8]
lis1 +lis2

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
import numpy as np
lis1_arr = np.array(lis1)
lis1_arr

array([1, 2, 3, 4])

In [ ]:
type(lis1_arr)

numpy.ndarray

In [ ]:
lis1_arr * 3

array([ 3,  6,  9, 12])

##NumPy Arrays

An array is also a data-structure which contains multiple values. Working with NumPy arrays is much easier than working with Python lists.

The term NumPy stands for Numeric (or Numerical) Python. It is one of the most popular modules amongst Statisticians and Data Scientists across the globe to perform heavy mathematical computations. NumPy arrays are also faster than Python lists in terms of code execution time.

For all practical purposes, **an array is the same as a list**. Fundamentally, they have been programmed differently by the inventors of Python language. We are **NOT** required to know how they were created. We only need to know how to apply them in different situations.

#### Activity 1: NumPy Arrays - The `ones()` & `zeros()` Functions



To create such an array, you first need to `import` the `numpy` module at the beginning of the code. Then use the `ones()` function from the `numpy` module.

The `ones()` function requires two inputs. The first input should be the required dimension of the array and the second input should define the data-type of the items in the required array.

In [ ]:
#Create an array containing '1' as its items using the 'ones()' function from the 'numpy' module.

ones = np.ones(4)
ones

array([1., 1., 1., 1.])

In [ ]:

ones = np.ones(4,dtype=int)
ones

array([1, 1, 1, 1])

In [ ]:
ones = np.ones((2,5),dtype=int)
ones

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [ ]:
ones = np.ones((2,5,3),dtype=int)
ones

array([[[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]]])

**Note:**

1. Always import the `numpy` module at the beginning of the code with `np` as its alias (or nickname). Throughout the course, we will always refer to the `numpy` module as `np` unless otherwise specified.

2. The de facto data-type of an item in a NumPy array is `float`.

Using the `type()` function, you can verify whether an array is a NumPy array or not.

In [ ]:
np.full((3,4),88898)

array([[88898, 88898, 88898, 88898],
       [88898, 88898, 88898, 88898],
       [88898, 88898, 88898, 88898]])

In [ ]:
#  Using the 'type()' function, verify whether the 'ones' array is a NumPy array or not.
type(ones)

numpy.ndarray

In [ ]:
# Using 'zeros()' function, create a NumPy array having 4 blocks, 2 rows and 3 columns.
#The items should be int data-type.
z = np.zeros((4,2,3))
z

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [ ]:
z_int = np.zeros((4,2,3),dtype= int)
z_int

array([[[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]]])

In case you want to populate your array with something other than 0s and 1s, you use full()

---

#### Activity 2: The `dtype` Keyword

To check the data-type of the values stored in a NumPy array, you can use the `dtype` keyword.

In [ ]:
type(z)

numpy.ndarray

In [ ]:
# Using the 'dtype' keyword
z.dtype

dtype('float64')

In [ ]:
z_int.dtype

dtype('int64')



**Difference Between The `type()` Function & The `dtype` Keyword**

The `type()` function is a function of Python. It returns the type of Python object. The data-types or more accurately the **primitive data-types** `int`, `float`, `str` and `bool` are actually Python objects. Similarly, Python lists, NumPy module, `random` modules are also Python objects. The `type()` function will tell you what type of Python objects they are.

In [ ]:
#Run the code shown below to see that the 'type()' function returns the type of Python object.
import random
import numpy

# 1. The 'int' Python object.
print(type(2020))

# 2. The 'float' Python object.
print(type(3.14))

# 3. The 'str' Python object.
print(type('Earth'))

# 4. The 'list' Python object
print(type([i for i in range(1, 11)]))

# 5. 'numpy' is a 'module' Python object.
print(type(numpy))

# 6. 'random' is a 'module' Python object.
print(type(random))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'module'>
<class 'module'>

In [ ]:
print(type(np))

<class 'module'>

---

#### Activity 3: The `ndim` And `shape` Keywords

**The `ndim` Keyword:** Using the `ndim` keyword, you can find out the dimension of a NumPy array.

In [ ]:
z

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [ ]:
#Using the 'ndim' array
z.ndim

3

**The `shape` Keyword:** Using the `shape` keyword, you can find out the number of blocks, rows and columns present in NumPy arrays.

In [ ]:
#Using the 'shape' keyword find out the number of blocks, rows and columns.
z.shape

(4, 2, 3)

---

#### Activity 4: The `arange()` And `linspace()` Functions^^

The are `arange()` and `linspace()` functions in NumPy module create an array of numbers such that the difference between a pair of any two consecutive numbers in the array is constant. However, there is a slight difference in their outputs.

**The `arange()` Function:** It returns a one-dimensional array containing numbers between two specific numbers. It is similar to the `range()` function in the `for` loop.

In [ ]:
for i in range(1,10,3):
    print(i)

1
4
7

In [ ]:
# Create a one-dimensional array containing numbers between 5 and 20 using the 'arange()' function in the NumPy module.
arr_1 = np.arange(5,21)
arr_1

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [ ]:
arr11 = np.arange(5,21,2)
arr11

array([ 5,  7,  9, 11, 13, 15, 17, 19])

Here, the `arange()` function has created an array of numbers from `5` to `20`. The difference between a pair of any two consecutive numbers is `1`. The `arange()` function will not include the last number specified in the array created.

If you want the difference between two consecutive numbers to be greater than `1` (say `4`) in an array, then you can specify the difference as an additional input to the `arange()` function.

In [ ]:
#Create an array of numbers from 1 to 24 such that the difference between two consecutive numbers is 4.
arr12 = np.arange(1,25,4)
arr12

array([ 1,  5,  9, 13, 17, 21])

As you can see, the `arange()` function has created an array of numbers from `1` to `24` such that the difference between two consecutive numbers is `4`.

**Note:** If the difference between two consecutive numbers is not specified, then the `arange()` function will assume that the difference is `1`.


**The `linspace()` Function:** This function creates an array containing a fixed number of numbers between two specific numbers such that the difference between any two consecutive numbers in the array is constant. This will be clear to you with an example.

Suppose you want to create an array containing exactly `4` numbers between the numbers `1` and `25` such that all the difference between any two consecutive numbers is constant, then you can use the `linspace()` function.

In [ ]:
arr12 = np.arange(1,25,4)
arr12

array([ 1,  5,  9, 13, 17, 21])

In [ ]:
# Create an array containing 4 numbers between 1 to 25.
arr4 = np.linspace(1,25,4)
arr4

array([ 1.,  9., 17., 25.])

In [ ]:
arr44 = np.linspace(1,10,2)
arr44

array([ 1., 10.])

In [ ]:
arr44 = np.linspace(1,10,4)
arr44

array([ 1.,  4.,  7., 10.])

In [ ]:
arr44 = np.linspace(1,10,5)
arr44

array([ 1.  ,  3.25,  5.5 ,  7.75, 10.  ])

In [ ]:
arr44 = np.linspace(1,10,6)
arr44

array([ 1. ,  2.8,  4.6,  6.4,  8.2, 10. ])

In [ ]:
arr444 = np.arange(1,10,2)
arr444

array([1, 3, 5, 7, 9])

In [ ]:
arr44 = np.linspace(5,15)
arr44

array([ 5.        ,  5.20408163,  5.40816327,  5.6122449 ,  5.81632653,
        6.02040816,  6.2244898 ,  6.42857143,  6.63265306,  6.83673469,
        7.04081633,  7.24489796,  7.44897959,  7.65306122,  7.85714286,
        8.06122449,  8.26530612,  8.46938776,  8.67346939,  8.87755102,
        9.08163265,  9.28571429,  9.48979592,  9.69387755,  9.89795918,
       10.10204082, 10.30612245, 10.51020408, 10.71428571, 10.91836735,
       11.12244898, 11.32653061, 11.53061224, 11.73469388, 11.93877551,
       12.14285714, 12.34693878, 12.55102041, 12.75510204, 12.95918367,
       13.16326531, 13.36734694, 13.57142857, 13.7755102 , 13.97959184,
       14.18367347, 14.3877551 , 14.59183673, 14.79591837, 15.        ])

As you can see, the `linspace()` function has created an array containing `4` numbers between `1` and `25` (including `25`) such that the difference between two consecutive numbers is constant. Take a pair of any two consecutive numbers in `array5`, the difference between them will be `8.`

Notice the difference between the outputs of the `arange()` and `linspace()` functions for exactly the same inputs. The `arange()` function returns `6` numbers such that the difference between them is exactly `4` whereas the `linspace()` function returns exactly `4` numbers such that the difference between two consecutive numbers is constant.

In other words:

- In the `arange()` function, you specify the value of the difference between two consecutive numbers as the third input.

- Whereas, in the `linspace()` function, you specify the length of the array to be created as the third input.

Let's create another array using the `linspace()` function to get a better understanding. Let's create an array containing `10` numbers between `1` and `25` such that the difference between two consecutive numbers is constant.

In [ ]:
#Create an array containing 10 numbers between 1 and 25 such that the difference between two consecutive numbers is constant.

Take a pair of any two consecutive numbers in the `array5`, the difference between them will be `2.66666666`

---

#### Activity 5: The `reshape()` Function


The `reshape()` function reshapes an array from one configuration to another without changing the items.

In [ ]:
# Reshape example
zeros = np.zeros((4,2,3))
print(zeros)

[[[0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]]]

In [ ]:
z_reshape = zeros.reshape(6,4)
z_reshape

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])



This operation is only valid when the number of items in the new configuration is exactly the same as the number of items in the original configuration.

The `reshape()` function in NumPy is used to give a new shape to an array without changing its data. It is a very powerful function, especially when you need to manipulate the dimensions of an array for various operations, such as feeding data into machine learning models or preparing data for visualization.

---

#### Activity 6: The `random.randint()` Function

The NumPy module also has its `random.randint()` function. It takes two inputs. The first input is the range of two integers between which a random number is to be created. The second input is the `size` parameter which defines the number of random integers to be created.

**Syntax:** `np.random.randint(num1, num2, size=N)`

 where `num1` and `num2` are starting numbers and `N` is the number of items to be contained in the array.

In [ ]:
#Create a one-dimensional NumPy array containing 15 random integers between 50 and 100.
arr_7 = np.random.randint(50,100,size = 15)
arr_7

Similarly, you can create a multi-dimensional NumPy array containing random integers by specifying the dimensions of the array to be created in the `size` parameter.

In [ ]:
# Create a two-dimensional NumPy array containing 15 random integers between 50 and 100.
arr_7 = np.random.randint(50,100,(4,3))
arr_7

In [ ]:
# Student Action: Create a three-dimensional NumPy array containing 40 random integers between 50 and 100.
arr_7 = np.random.randint(50,100,(4,3,7))
arr_7

---

#### Activity 7: The `array()` Function^

We can convert a Python list into a NumPy array. To do this, use the `array()` function which takes a Python list as an input.

In [ ]:
# Convert a Python list into a NumPy array using the 'array()' function.
list7 = [1,2,3]
arr_list7 = np.array(list7)
arr_list7

To check whether a Python list is converted into a NumPy array or not, you can use the `type()` function.

In [ ]:
#Verify whether the array created is a NumPy array or a Python list.
type(arr_list7)

---

#### Activity 8: The `list()` Function

We can convert a NumPy array into a Python list using the `list()` function.

In [ ]:
#Convert a NumPy array into a Python list using the 'list()' function.
list_9 = list(arr_list7)
list_9

In [ ]:
# Verify whether the converted array to list is Python list or not.
type(list_9)

As you can see, the output is `list`. Hence, we successfully converted the NumPy array to a Python list using the `list()` function.

#### Activity 9: Array Indexing

In [ ]:
# Guess the output
arr = np.array([1, 2, 3, 4])

print(arr[1])

In [ ]:
# Get third and fourth elements from the above array and add them.


**Access 2-D Arrays**

To access elements from 2-D arrays we can use comma separated integers representing the dimension and the index of the element.

In [ ]:
# Guess the output
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print(arr[0, 1])

In [ ]:
# Guess the output
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print(arr[1, 4])

**Negative Indexing**

In [ ]:
# Guess the output
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print( arr[1, -1])

**Access 3-D Arrays**

To access elements from 3-D arrays we can use comma separated integers representing the dimensions and the index of the element.

In [ ]:
# Guess the output
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

print(arr[0, 1, 2])

**NumPy Array Slicing**

In [ ]:
# Guess the output
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[4:])

In [ ]:
# Guess the output
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[:4])

In [ ]:
# Guess the output
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[-3:-1])

In [ ]:
# Guess the output
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[::2])

**Slicing 2-D Arrays**

In [ ]:
# Guess the output
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[1, 1:4])

In [ ]:
# Guess the output
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 2])

In [ ]:
# Guess the output
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 1:4])

**Slicing 3-D Arrays**

**Slicing**

![image.png]()

In [ ]:
# create a above 3-d array and slice red elements
array = np.arange(0,45).reshape(3,3,5)
print(array[1:, 0:2 , 1:4])

Make a copy, change the original array, and display both arrays:

In [ ]:
# guess the output
arr = np.array([1, 2, 3, 4, 5])
x = arr.copy()
arr[0] = 42

print(arr)
print(x)

**Sorting Arrays**

Sorting means putting elements in an ordered sequence.

Ordered sequence is any sequence that has an order corresponding to elements, like numeric or alphabetical, ascending or descending.

The NumPy ndarray object has a function called `sort()`, that will sort a specified array.

In [ ]:
# guess the output
arr = np.array([3, 2, 0, 1])

print(np.sort(arr))

In [ ]:
# guess the output
arr = np.array(['banana', 'cherry', 'apple'])

print(np.sort(arr))

In [ ]:
# guess the output
arr = np.array([True, False, True])

print(np.sort(arr))

In [ ]:
# sorting 2-d array
arr = np.array([[3, 2, 4], [5, 0, 1]])

print(np.sort(arr))

**Note:** This method returns a copy of the array, leaving the original array unchanged.