<a href="https://colab.research.google.com/github/poudyaldiksha/Data-Science-project/blob/main/Lesson_7_b2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
type(a)

list

In [ ]:
b = [8,9,10]
a + b

[1, 2, 3, 8, 9, 10]

In [ ]:
import numpy as np
a_arr = np.array(a)
print(type(a_arr))
print(a_arr)
a_arr*3

<class 'numpy.ndarray'>
[1 2 3]

array([3, 6, 9])

## Lesson 7: NumPy Arrays

An array is also a data-structure which contains multiple values. Working with NumPy arrays is much easier than working with Python lists.

The term NumPy stands for Numeric (or Numerical) Python. It is one of the most popular modules amongst Statisticians and Data Scientists across the globe to perform heavy mathematical computations. NumPy arrays are also faster than Python lists in terms of code execution time.

For all practical purposes, **an array is the same as a list**. Fundamentally, they have been programmed differently by the inventors of Python language. We are **NOT** required to know how they were created. We only need to know how to apply them in different situations.

---

#### Activity 1: The `random.randint()` Function

The NumPy module also has its `random.randint()` function. It takes two inputs. The first input is the range of two integers between which a random number is to be created. The second input is the `size` parameter which defines the number of random integers to be created.

**Syntax:** `np.random.randint(num1, num2, size=N)`

 where `num1` and `num2` are starting numbers and `N` is the number of items to be contained in the array.

In [ ]:
import random
w = random.randint(1,10)
w

6

In [ ]:
#Create a one-dimensional NumPy array containing 15 random integers between 50 and 100.
import numpy as np
arr_1 = np.random.randint(50,100,size = 15)
arr_1

array([89, 78, 68, 97, 62, 90, 75, 73, 93, 64, 89, 72, 97, 59, 97])

Similarly, you can create a multi-dimensional NumPy array containing random integers by specifying the dimensions of the array to be created in the `size` parameter.

In [ ]:
arr_ex = np.arange(1,9)
arr_ex

array([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
arr_reshape = arr_ex.reshape((2,2,2))
arr_reshape

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [ ]:
arr_ex = np.arange(1,9,5)
arr_ex

array([1, 6])

In [ ]:
arr_2 = np.random.randint(50,100,(3,5))
arr_2

array([[73, 67, 58, 55, 77],
       [99, 63, 98, 54, 76],
       [73, 69, 93, 78, 78]])

In [ ]:
# Create a two-dimensional NumPy array containing 15 random integers between 50 and 100.
arr_2 = np.random.randint(50,100,(4,3))
arr_2

array([[66, 75, 81],
       [75, 97, 55],
       [93, 59, 93],
       [88, 75, 58]])

In [ ]:
#  Create a three-dimensional NumPy array containing 40 random integers between 50 and 100.
arr_3 = np.random.randint(50,100,(4,2,5))
arr_3

array([[[90, 51, 80, 77, 72],
        [59, 89, 71, 82, 62]],

       [[84, 93, 92, 76, 77],
        [53, 81, 56, 90, 98]],

       [[72, 63, 76, 53, 82],
        [55, 92, 70, 59, 94]],

       [[84, 74, 63, 99, 78],
        [53, 86, 80, 70, 79]]])

---

#### Activity 2: The `array()` Function

We can convert a Python list into a NumPy array. To do this, use the `array()` function which takes a Python list as an input.

In [ ]:
# Convert a Python list into a NumPy array using the 'array()' function.
list1 = [1,2,3]
arr_list1 = np.array(list1)
arr_list1

array([1, 2, 3])

In [ ]:
arr_list1 = np.array([5,7,8,9])
arr_list1

array([5, 7, 8, 9])

To check whether a Python list is converted into a NumPy array or not, you can use the `type()` function.

In [ ]:
#Verify whether the array created is a NumPy array or a Python list.
type(arr_list1)

numpy.ndarray

---

#### Activity 3: The `list()` Function

We can convert a NumPy array into a Python list using the `list()` function.

In [ ]:
#Convert a NumPy array into a Python list using the 'list()' function.
list_2 = list(arr_list1)
list_2

[1, 2, 3]

In [ ]:
# Verify whether the converted array to list is Python list or not.
type(list_2)

list

As you can see, the output is `list`. Hence, we successfully converted the NumPy array to a Python list using the `list()` function.

#### Activity 4: Array Indexing

**Access 1-D Arrays**

In [ ]:
# Create an array

arr = np.array([22,3,35,6,89])
arr[2]

35

In [ ]:
# Guess the output
arr = np.array([22,3,35,6,89]) # 1-d array
print(arr[1])

3

In [ ]:
# Guess the output

arr = np.array([22,3,35,6,89]) # 1-d array
print(arr[-2])

6

**Access 2-D Arrays**

In [ ]:
q = [[1,2,3,4,5], [6,7,8,9,10]]
q[1]

[6, 7, 8, 9, 10]

In [ ]:
q[1][-1]

10

In [ ]:
# Guess the output
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]]) #2-d array

print( arr[1, -1])

10

In [ ]:
# Guess the output
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]]) #2-d array

print( arr[1, 3])

9

In [ ]:
# Guess the output
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]]) #2-d array

print( arr[:, 3])

[4 9]

**Access 3-D Arrays**

To access elements from 3-D arrays we can use comma separated integers representing the dimensions and the index of the element.

In [ ]:
# Guess the output
arr_5= np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]]) # 3d array

In [ ]:
arr_5.ndim

3

In [ ]:
arr_5.shape

(2, 2, 3)

In [ ]:
print(arr_5[0, 1, 2])

6

In [ ]:
# Guess the output
arr_5= np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]]) # 3d array

print(arr_5[0, -1, -1])

6

#### Activity 5: NumPy Array Slicing

In [ ]:
# Guess the output
arr_6 = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr_6[4:])

[5 6 7]

In [ ]:
# Guess the output
arr_7 = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr_7[:4])

[1 2 3 4]

In [ ]:
# Guess the output
arr_8 = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr_8[-3:-1])

[5 6]

In [ ]:
# Guess the output
arr_9 = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr_9[::3])

[1 4 7]

In [ ]:
arr_9[ :4]

array([1, 2, 3, 4])

**Slicing 2-D Arrays**

In [ ]:
# Guess the output
arr_10 = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr_10[1, 1:4])

[7 8 9]

In [ ]:
# Guess the output
arr_11 = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr_11[0:2, 2])

[3 8]

In [ ]:
arr_11[:,2]

array([3, 8])

In [ ]:
# Guess the output
arr_12 = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr_12[0:2, 1:4])

[[2 3 4]
 [7 8 9]]

**Slicing 3-D Arrays**

**Slicing**

![image.png]()

In [ ]:
arr_13 = np.arange(0,45).reshape(3,3,5)
arr_13

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14]],

       [[15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29]],

       [[30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44]]])

In [ ]:
arr_13[:,[1,2],3]

array([[ 8, 13],
       [23, 28],
       [38, 43]])

In [ ]:
# create a above 3-d array and slice red elements
arr_13= np.arange(0,45).reshape(3,3,5)
print(arr_13[1:, 0:2 , 1:4])

[[[16 17 18]
  [21 22 23]]

 [[31 32 33]
  [36 37 38]]]

In [ ]:
arr_13

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14]],

       [[15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29]],

       [[30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44]]])

In [ ]:
arr_13[:2, :2, 0:3]

array([[[ 0,  1,  2],
        [ 5,  6,  7]],

       [[15, 16, 17],
        [20, 21, 22]]])

#### Activity 6: Copying Arrays

When working with NumPy arrays, sometimes you might need to create a copy of an array to prevent changes to the original array. Here are a few ways to do that:
- Assignment (No Copy)
- Shallow Copy using `view()`
- Deep Copy using `copy()`

**1. Assignment (No Copy)**

Assigning one array to another does not create a copy; it creates a reference to the same array. Any modifications to the new array will also affect the original array.

In [ ]:
a = np.array([1,2,3])
a[2] = 899890
a

array([     1,      2, 899890])

In [ ]:
a = 5
b = a
print(id(a))
print(id(b))

133410226913648
133410226913648

In [ ]:
a = 7
print(id(a))
print(id(b))

133410226913712
133410226913648

In [ ]:
print(a)

7

In [ ]:
x= 5

print(id(x))

133410226913648

In [ ]:
x= 7

print(id(x))

133410226913712

In [ ]:
t = 10
print(id(t))

133410226913808

In [ ]:
t = 1578979809
print(id(t))

133408898282256

In [ ]:
h = 19
print(id(h))

133410226914096

In [ ]:
y = 19
print(id(y))

133410226914096

In [ ]:
z = y
print(id(z))

133410226914096

In [ ]:
x

7

In [ ]:
# activity: Make a copy by assignment
arr1 = np.array([1,2,3,4,5])
arr2 = arr1
print("original arr", arr1)
print("assigned arr",arr2)

arr2[2] = 23

print("\nafter modification\n")

print("original arr", arr1)
print("assigned arr",arr2)

original arr [1 2 3 4 5]
assigned arr [1 2 3 4 5]

after modification

original arr [ 1  2 23  4  5]
assigned arr [ 1  2 23  4  5]

**2. Shallow Copy using `view()`**

Shallow Copy creates a new array object that looks at the same data. Changes to the data in the view will affect the original array and vice versa.

When you create a shallow copy of a NumPy array using `view()`, you're essentially creating a new array object that shares the same underlying data with the original array. This means that both arrays refer to the same data buffer in memory.

In [ ]:
# Activity: Copying using view()
arr1 = np.array([1,2,3,4,5])
arr2 = arr1.view()
print("original arr", arr1)
print("shallow copyarr",arr2)

arr2[2] = 23

print("\nafter modification\n")

print("original arr", arr1)
print("shallow copy  arr",arr2)

original arr [1 2 3 4 5]
shallow copyarr [1 2 3 4 5]

after modification

original arr [ 1  2 23  4  5]
shallow copy  arr [ 1  2 23  4  5]

**3. Deep Copy using `copy()`**

A deep copy creates a new array with a new data buffer. Changes to the new array will not affect the original array and vice versa.

In [ ]:
#Activity: Copying using copy()
arr1 = np.array([1,2,3,4,5])
arr2 = arr1.copy()
print("original arr", arr1)
print(" copyarr",arr2)

arr2[2] = 23

print("\nafter modification\n")

print("original arr", arr1)
print("copy  arr",arr2)

original arr [1 2 3 4 5]
 copyarr [1 2 3 4 5]

after modification

original arr [1 2 3 4 5]
copy  arr [ 1  2 23  4  5]

 In shallow copy , a copy of the original object is stored and only the reference address is finally copied.

 In deep copy, the copy of the original object and the repetitive copies both are stored.

#### Activity 7: Sorting Arrays

Sorting means putting elements in an ordered sequence.

Ordered sequence is any sequence that has an order corresponding to elements, like numeric or alphabetical, ascending or descending.

The NumPy ndarray object has a function called `sort( )`, that will sort a specified array.

In [ ]:
# Activity:

arr_15= np.array([-1/2,-1/4,2,0,1])
print(np.sort(arr_15))

In [ ]:
arr_16 = np.array([1,55,77,22,99])
np.sort(arr_16)

**Note:** This method returns a copy of the array, leaving the original array unchanged.

#### Activity 8: Array Length
The length of an array (or array length) is:

- The number of items in a one-dimensional array.

- The number of rows in a two-dimensional array.

- The number of blocks in a three-dimensional array.

To calculate the length of a NumPy array, you can use the `len()` function.

In [ ]:
#Create a NumPy array for all the three different dimensions and calculate their lengths.
one_dim_arr = np.arange(1,25)
two_dim_arr = np.arange(1,29).reshape(2,14)
three_dim_arr = np.arange(1,31).reshape(3,2,5)
print(len(one_dim_arr))
print(len(two_dim_arr))
print((len(three_dim_arr)))

**Note:**  

 The `len()` function gives different outputs for multi-dimensional NumPy arrays.

#### Activity 9: The `size` Keyword

To find the number of items in a NumPy array, you can use the `size` keyword. Regardless of dimensions, the `size` keyword will always return the number of items in a NumPy array.

In [ ]:
# Compute the number of items in the above created NumPy arrays.
print(one_dim_arr.size)
print(two_dim_arr.size)
print(three_dim_arr.size)

#### Activity 10: Descriptive Statistics

Using NumPy arrays, we can easily do some statistical calculations.

Consider that  you are a laptop retailer and you have a few laptops in your inventory.

|Laptop Model|Price (INR)|# Units Available|
|-|-|-|
|Dell Inspiron 15|	45000|	15|
HP Pavilion 14| 55000| 12|
Lenovo ThinkPad X1| 65000| 10|
MacBook Air| 120000| 8|
Asus ZenBook| 75000| 6|
Acer Swift 3| 45000| 18|
Microsoft Surface Laptop| 85000| 9|
Razer Blade Stealth| 60000| 11|
Samsung Galaxy Book| 70000| 7|
Google Pixelbook Go| 80000| 5|

Suppose you decided to do some analysis of your inventory. In the process, you want to find answers to the following questions:

1. What is the total revenue generated from laptop sales?

2. What is the average price of a laptop?

3. What is the price of the cheapest laptop in the inventory?

4. What is the price of the most expensive laptop in the inventory?

5. What is the median price of a laptop?

6. What is the most commonly occurring price of a laptop?

You can answer all these questions in a few seconds by creating NumPy arrays and by applying the `sum(), mean(), median(), min()` and `max()` functions.


```
laptop_models = ['Dell Inspiron', 'HP Pavilion', 'Lenovo ThinkPad', 'Apple MacBook Pro', 'Asus ZenBook',
                 'Acer Swift', 'Microsoft Surface', 'Razer Blade Stealth', 'Samsung Galaxy Book', 'Google Pixelbook Go]
prices = [45000, 55000, 65000, 120000, 75000, 45000, 85000, 60000, 70000, 80000]
units_sold = [15, 12, 10, 8, 6, 18, 9, 11, 7, 5]
```

In [ ]:
#Create Arrays
# Define lists for laptop data
laptop_models = ['Dell Inspiron', 'HP Pavilion', 'Lenovo ThinkPad', 'Apple MacBook Pro', 'Asus ZenBook',
                 'Acer Swift', 'Microsoft Surface', 'Razer Blade Stealth', 'Samsung Galaxy Book', 'Google Pixelbook Go']
prices = [45000, 55000, 65000, 120000, 75000, 45000, 85000, 60000, 70000, 80000]
units_sold = [15, 12, 10, 8, 6, 18, 9, 11, 7, 5]

# Convert lists to NumPy arrays
price_array =
units_sold_array =

In [ ]:
#Calculate Total Revenue
total_price_for_each_laptop =
print(total_price_for_each_laptop)

total_revenue =
print("total revenue:",total_revenue)

In [ ]:
# Calculate Average price

In [ ]:
#Find Cheapest and Most Expensive Laptop Prices
print("expensive laptop:",np.max(price_array))
print("cheap",np.min(price_array))

In [ ]:
#Calculate Median Price
np.median(price_array)

The value which occurs the most number of times is called the **modal** value or simply **mode**.

Unfortunately, the `numpy` module does not have a function to calculate the modal value. So, either we can create our own function which is a very complicated process or we can use the `mode()` function from the `scipy` library.


In the `scipy` library, there is a module called `stats` which contains the `mode()` function. So we have to import the `stats` module from the `scipy` library.

In [ ]:
# Compute the modal value using the 'mode()' function from the 'scipy.stats' module.
from scipy import stats
stats.mode(prices)



**Note:** `from library_name import module_name` is another way of importing a module. It is also a standard practice.

NumPy and SciPy are separate libraries, but often used together for scientific computing tasks. Here's how you can import specific modules or functions from NumPy:

1. **Importing NumPy Alone:**

```
import numpy as np
```
This imports the entire NumPy library under the alias np, allowing you to access all its functions and modules using `np.<function>` or `np.<module>.<function>`.

2. **Importing Specific Functions:**

```
from numpy import array, linspace

```
This imports only the `array()` and `linspace()` functions from NumPy. You can use them directly without prefixing with np.

3. **Importing Submodules:**

```
from numpy import random
```
This imports the random submodule from NumPy, allowing you to use functions like random.randint() directly.

## **SciPy and NumPy**

SciPy builds on top of NumPy and provides additional functionality for scientific and technical computing. It includes modules for optimization, integration, interpolation, and much more.

Using Together: While you can use NumPy alone for basic array operations and mathematical functions, SciPy extends this by adding advanced algorithms and tools. Importing SciPy typically involves importing specific modules or functions as needed, similar to NumPy.

####Activity 11: Mathematical Operations On A NumPy Array

Performing mathematical operations on a NumPy array is easier compared to a Python list.

In [ ]:
#With radii of 15 circles,compute the area of every circle.

Now, using the same approach, you create two NumPy arrays: one having radii (numbers from `5` to `15`) of `10` cylinders and another having their corresponding heights (numbers from `20` to `30`).

**Note:** The volume of a cylinder is
$\pi r^{2}h$
, where
$h$
is height of the cylinder and
$r$
is the radius of the cylinder.

In [ ]:
# Create two NumPy arrays. One having a radii of 10 cylinders and another having their corresponding heights.
# Compute the volume of the 10 cylinders by multiplying the NumPy arrays and store the new NumPy array in the new variable.

cyc_radii = np.arange(5,15)
cyc_heights = np.arange(21,31)
cyc_volume = np.pi *(cyc_radii ** 2)* cyc_heights
cyc_volume

#### Activity 12:Random Numbers: `random()`,`randn()`, `randint()`

Random number generation is a crucial part of simulations, statistical analysis, and machine learning. NumPy provides several functions to generate random numbers:

`random():` Generates random floats in the half-open interval [0.0, 1.0).

In [ ]:
# Generate a random float between 0 and 1
random_float = np.random.random()
print("Random float between 0 and 1:", random_float)

`rand():` Generates an array of specified shape with random floats in the half-open interval [0.0, 1.0).

In [ ]:
# Generate a 3x3 array of random floats
random_array = np.random.rand(3, 3)
print("3x3 array of random floats:\n", random_array)

`randint():` Generates random integers from a low (inclusive) to high (exclusive) range.

In [ ]:
# Generate a random integer between 1 and 10
random_integer = np.random.randint(1, 11)
print("Random integer between 1 and 10:", random_integer)

###Activity 13: `reshape(), ravel(), flatten()`

The `ravel() and flatten()` functions in NumPy both return a flattened array, but they have some key differences in terms of how they handle memory:

`ravel()`

- Returns a flattened array.
- Returns a view whenever possible: This means that `ravel()` tries to avoid creating a new array if it can. If the array is already contiguous in memory, it will return a view of the original array. If it can't return a view, it will return a copy.
- Changes to the raveled array may affect the original array if it returns a view.

`flatten()`

- Returns a flattened array.
- Always returns a copy: This means that `flatten()` creates a new array and the changes to the flattened array will not affect the original array.
- Does not affect the original array: Since it returns a copy, any modifications to the flattened array will not impact the original array.

In [ ]:
# Create a 2x2 array
arr = np.array([[1, 2], [3, 4]])

# Use ravel() to flatten the array
raveled_arr = arr.ravel()
print("Raveled array:", raveled_arr)

# Modify the raveled array
raveled_arr[0] = 10
print("Modified raveled array:", raveled_arr)
print("Original array after ravel modification:", arr)

# Use flatten() to flatten the array
flattened_arr = arr.flatten()
print("Flattened array:", flattened_arr)

# Modify the flattened array
flattened_arr[0] = 20
print("Modified flattened array:", flattened_arr)
print("Original array after flatten modification:", arr)