<a href="https://colab.research.google.com/github/poudyaldiksha/Data-Science-project/blob/main/Lesson_5_b2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 5: Features of Lists, 2D & 3D lists,Nested Lists,Indexing List,List Comprehension

----



### Activity:1 For Loops


The `for` loop is used to repeat or iterate a set of statements for a fixed number of times.

**For e.g:** If we want to print first `5` natural numbers using `for` loop.
- First, we will use a ready-made function called `range()` inside `for` loop which generates consecutive natural numbers between two specific numbers.

```python
for i in range(1, 6):
  print(i)
```


The above code can be read as *for every number in the range of `1` to `6` and except `6`, print a number.* So, in the range of `1` to `6` and except `6`, there are `5` numbers starting from `1` to `5`. So, all these numbers in this range will get printed one-by-one.

**The range function:**

It is used to generate a range of numbers.

**Syntax:** `range(start, end)`

where,

- `start` (optional):  An integer which specifies from which position to start. Default is 0.
- `end` (required): An integer which specifies at which position to stop. This number is not included in the range.

**For e.g:**
1. `range(0,6)` $\Rightarrow$ generates numbers from 0 to 5.
2.`range(6)` $\Rightarrow$ generates numbers from 0 to 5.
3. `range(1,11)` $\Rightarrow$ generates numbers from 1 to 10.
4. `range(11)` $\Rightarrow$ generates numbers from 0 to 10.

In [ ]:
#Activity:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [ ]:
i = 1
while i<=5:
    print(i)
    i+=1 # i=i+1

1
2
3
4
5

**while Loop**

The while loop is used when you want to repeat a block of code as long as a condition is true. It is useful when the number of iterations is not known beforehand and depends on a condition.

**for Loop**

The for loop is used for iterating over a sequence (such as a list, tuple, dictionary, set, or string) or other iterable objects. It is useful when the number of iterations is known or can be determined by the size of the iterable.

In [ ]:
# Activity
indian_lang = ["Hindi", "Bengali", "Telugu", "Marathi", "Tamil", "Gujarati", "Kannada", "Malayalam", "Odia", "Punjabi"]
type(indian_lang)

list

In [ ]:
len(indian_lang)

10

In [ ]:
indian_lang[0]

'Hindi'

In [ ]:
indian_lang[1]

'Bengali'

In [ ]:
indian_lang[9]

'Punjabi'

In [ ]:
for i in range(len(indian_lang)):
    print(indian_lang[i])

Hindi
Bengali
Telugu
Marathi
Tamil
Gujarati
Kannada
Malayalam
Odia
Punjabi

In [ ]:
for i in range(1,len(indian_lang)+1):
    print(indian_lang[-i])

Punjabi
Odia
Malayalam
Kannada
Gujarati
Tamil
Marathi
Telugu
Bengali
Hindi

In [ ]:
import random
d = random.randint(0,10)
print(d)
indian_lang[d]

2

'Telugu'

In [ ]:
#Activity:
n = len(indian_lang)
for i in range(0,n):
  print(indian_lang[i])

In [ ]:
#Activity: Using the 'for' loop and negative indices, retrieve all the items from the 'indian_lang' list in the reverse order.
n = len(indian_lang)
for i in range(1,n+1):
  print(indian_lang[-i])

### Activity 2: List Slicing
Suppose that I have a list of `10` Indian languages.

`indian_lang = ["Hindi", "Bengali", "Telugu", "Marathi", "Tamil", "Gujarati", "Kannada", "Malayalam", "Odia", "Punjabi"]
`

Let's say, I want to see a list of only first languages, then I can use the concept of **list slicing**.

To slice a list, write the name of the list followed by square brackets and inside the square brackets, enter the **starting point** (in this case it is zero) followed by a colon sign (`:`) and the **ending point**.

**Syntax:** `list_name[start_index:end_index]`

**For e.g:** `indian_lang[0:5]`

Note that the item at the `end-index` will not be a part of the sub-list.

In [ ]:
# Activity:
indian_lang = ["Hindi", "Bengali", "Telugu", "Marathi", "Tamil", "Gujarati", "Kannada", "Malayalam", "Odia", "Punjabi"]
indian_lang[0:5]

['Hindi', 'Bengali', 'Telugu', 'Marathi', 'Tamil']

In [ ]:
indian_lang[:5]

['Hindi', 'Bengali', 'Telugu', 'Marathi', 'Tamil']

If you do not specify the starting point, then Python assumes that you want to get the items starting from the first item of the list.

In [ ]:
#Activity : Retrieve the first 5 items from the 'indian_lang' Python list without mentioning the starting index.
indian_lang[:5]

In [ ]:
#Activity: Write a code to see all the languages in the list starting from 'Bengali' to 'Kannada'.
indian_lang[1:7]

['Bengali', 'Telugu', 'Marathi', 'Tamil', 'Gujarati', 'Kannada']

In [ ]:
indian_lang[1:8]

['Bengali', 'Telugu', 'Marathi', 'Tamil', 'Gujarati', 'Kannada', 'Malayalam']

You can also skip intermediate items while retrieving a few other items from a list.

Suppose you want to retrieve alternate items from a list starting from the first item, then you can use the list slicing method.

Inside the square brackets, after the ending point, you have to include another colon (`:`) sign followed by the number of items to be skipped.

**Syntax:** `list_name[start_index:end_index:num_of_items_to_be_skipped]`

In [ ]:
indian_lang

['Hindi',
 'Bengali',
 'Telugu',
 'Marathi',
 'Tamil',
 'Gujarati',
 'Kannada',
 'Malayalam',
 'Odia',
 'Punjabi']

In [ ]:
# Activity: Retrieve all the alternate items from the 'indian_lang' list.
indian_lang[0:9:3]

['Hindi', 'Marathi', 'Kannada']

In [ ]:
indian_lang[1:7:2]

['Bengali', 'Marathi', 'Gujarati']

In [ ]:
indian_lang[0:9:2]

['Hindi', 'Telugu', 'Tamil', 'Kannada', 'Odia']

In [ ]:
indian_lang[::2]

['Hindi', 'Telugu', 'Tamil', 'Kannada', 'Odia']

In [ ]:
indian_lang[:9:5]

['Hindi', 'Gujarati']

**Note:** If you are retrieving all the items from a list, then you actually do not have to mention the start and end indices. Just put the colon (`:`) signs and Python will know that you wish to retrieve all the items.

To retrieve all the items from a list in the reverse order, you can also use the list slicing method with a negative index `-1` after the second colon (`:`) sign.

In [ ]:
#Activity:
indian_lang[:]

In [ ]:
indian_lang

['Hindi',
 'Bengali',
 'Telugu',
 'Marathi',
 'Tamil',
 'Gujarati',
 'Kannada',
 'Malayalam',
 'Odia',
 'Punjabi']

In [ ]:
# Activity: Retrieve all the items from the 'indian_lang' list in the reverse order.
indian_lang[::-2]

['Punjabi', 'Malayalam', 'Gujarati', 'Marathi', 'Bengali']

### Activity 3: Index Of An Item

Suppose that you want to find the index of `Tamil` in the `indian_lang` list, then you can use the `index()` function.

To find an index of an item, write the name of the list followed by the dot `(.)` operator followed by the `index()` function. Inside the `index()` function, enter the item whose index you wish to find.

**Syntax:** `list_name.index(item)`

In [ ]:
# Activity: Find index of Tamil
indian_lang.index("Tamil")

4

In [ ]:
a = [ 1,2,3,3,"3",4,5,6]
a.index(3)

2

### Activity 4: Removing An Item

To remove an item from a list, use the `remove()` function followed by the item that you wish to remove.

**Syntax:** `list_name.remove(item)`

In [ ]:
a.remove(5)
a

[1, 2, 3, 3, '3', 4, 6]

In [ ]:
a.pop()
a

[1, 2, 3, 3, '3', 4]

In [ ]:
a.pop(-2)

'3'

In [ ]:
a

[1, 2, 3, 3, 4]

In [ ]:
#Activity:
indian_lang.remove("Hindi")

In [ ]:
indian_lang

['Bengali',
 'Telugu',
 'Marathi',
 'Gujarati',
 'Kannada',
 'Malayalam',
 'Odia',
 'Punjabi']

### Activity 5: The `pop()` Function

You can also remove an item from a list using another function called `pop()`. It has two behaviours.

**Behaviour I:** If you do not specify any input, it will always remove only the last item from a Python list.

**Syntax:** `list_name.pop()`

In [ ]:
# Activity : Remove the last item from the 'indian_lang' list using the 'pop()' function.
print("List of all languages before using the pop() function.")
print(indian_lang)

indian_lang.pop()

print("List of languages after using the pop() function.")
print(indian_lang)

List of all languages before using the pop() function.
['Bengali', 'Telugu', 'Marathi', 'Gujarati', 'Kannada', 'Malayalam', 'Odia', 'Punjabi']
List of languages after using the pop() function.
['Bengali', 'Telugu', 'Marathi', 'Gujarati', 'Kannada', 'Malayalam', 'Odia']

**Behaviour II:** If you want to remove an item from a list located at a specific index, then pass the index of that item as an input to the `pop()` function.

**For example:** To remove the item at index = 3 from the 'indian_lang' list:

**Syntax:** `list_name.pop(item_index)`

In [ ]:
#Activity:
indian_lang.pop(2)

'Marathi'

### Activity 6: Item Replacement

You can replace an existing item in a list with a new item.

To replace an item, first get the index of that item. Then using the list indexing method, replace the existing item with the new one.

**Syntax:** `list_name[list_name.index('current_item')] = new_item`

In [ ]:
#Activity:
cars = ['Ford', 'Toyota', 'BMW']
cars[1] = 'Honda'
print(cars)

['Ford', 'Honda', 'BMW']

In [ ]:
cars.index("BMW")

2

In [ ]:
cars[cars.index("BMW")]= "Merc"
cars

['Ford', 'Honda', 'Merc']

### Activity 7: Sorting a List
The `sort()` function sorts the elements of a list in ascending order by default.

You can also sort the list in descending order by passing the `reverse=True` parameter.

In [ ]:
#Activity: Sorting in Ascending Order
numbers = [4, 2, 9, 1, 5, 6]
numbers.sort()
print(numbers)

[1, 2, 4, 5, 6, 9]

In [ ]:
#Activity: Sorting in Descending Order
numbers = [4, 2, 9, 1, 5, 6]
numbers.sort(reverse=True)
print(numbers)

[9, 6, 5, 4, 2, 1]

In [ ]:
w = ["a","z","Z","b","l"]
w.sort()
print(w)

['Z', 'a', 'b', 'l', 'z']

###Activity 8:Inserting an Element into a List

The `insert()` function inserts an element at a specified position in the list. It takes two parameters: the index at which to insert the element and the element to be inserted.

In [ ]:
c = [1,2,3,4,5]
c.append("p")
c

[1, 2, 3, 4, 5, 'p']

In [ ]:
#Activity
letters = ['a', 'b', 'd', 'e']
letters.insert(2, 'c')  # Insert 'c' at index 2
print(letters)

['a', 'b', 'c', 'd', 'e']

In [ ]:
gro_list = [["mango,apple,banana"],
            ["brocoli","cabbage"],
            ["milk","diary"]]
gro_list

[['mango,apple,banana'], ['brocoli', 'cabbage'], ['milk', 'diary']]

In [ ]:
len(gro_list)

3

----

##NESTED LISTS

### Activity 1: Data Representation In Two-Dimensions Using Python Lists

A two-dimensional (or a tabular) data can be represented using a Python list.A nested list is a list that contains other lists as its elements.

**Nested lists** can be used to represent matrices or tables having values arranged in rows and columns.


**For example:**
1. `list1=[[10,20,30],[40,50],[60,70]]` $\Rightarrow$ Here `list1` is a nested list having `3` **inner list** or **sublist**.

2. `list2=[['orange','apple'],['mango']]` $\Rightarrow$ Here `list2` is a nested list having `2` sublist.

3. `list3=['peter', 3.0, 15, [1, 2]]` $\Rightarrow$ Here `list3` contains a string, a float, an integer and another list

In [ ]:
list3=['peter', 3.0, 15, [1, 2]]
len(list3)

4

In [ ]:
#Activity: Create a nested list
list1 = [[2,3,7],[4,5,6],[6,6,8,9,9,9]]
list1

[[2, 3, 7], [4, 5, 6], [6, 6, 8, 9, 9, 9]]

In [ ]:
#Example
colours = [["Red", "Pink"],["Yellow","Orange"],["Blue","White"]]
colours

[['Red', 'Pink'], ['Yellow', 'Orange'], ['Blue', 'White']]

In [ ]:
colours[0]

['Red', 'Pink']

In [ ]:
colours[2]

['Blue', 'White']

In [ ]:
colours[1][1]

'Orange'

In [ ]:
colours[0][-1]

'Pink'

In [ ]:
colours[0][1]

'Pink'

In [ ]:
w = [1,2,3]
w

[1, 2, 3]

In [ ]:
w[2]

3

In [ ]:
w[-1]

3

### Activity 2: Indexing A Nested List

**List Indexing for 2D list:**

To get an item of a 1D list, we need to specify one index. Similarly, to get a specific item from a 2D list, we need to specify two indices.

For this, write the list name followed by two consecutive square brackets `[][]`.

- In the first square bracket, enter the row index.

- In the second square bracket, enter the column index.


**Syntax:** `list_name[row_index][col_index]`

In [ ]:
#Activity:
list3 = [ [3,2,8],
          [4,5,9],
          [7,8,4]]

In [ ]:
list3[1][1]

5

**Note:** The indentation for a nested list is not necessary. We indent a nested list to make it more readable.

To get all the items of a row from a 2D list, just enter the row index of that row in the first square bracket after writing the name of the list. No need to enter the column index in this case.

**Syntax:** `list_name[row_index]`

In [ ]:
#Activity:
list3[1]

[4, 5, 9]

###Activity 3: Length Of Nested Python Lists

The length of a nested list is the number of sublists it contains.

**Syntax:** `len(list_name)`

In [ ]:
# 1D list
a = ["Diksha",15,"play"]

In [ ]:
len(a)

3

In [ ]:
#Activity: 2D list
family_details = [ ["Diksha",15,"play"],
                   ["father",40,"reading"],
                   ["mother",38,"gardening"],
                   ["bro",17,"swimming"] ]

In [ ]:
len(family_details)

4

### Activity 4: Three-Dimensional Python Lists

Let's learn about three-dimensional lists in Python.

*For all practical purposes, a three-dimensional list is a collection of equal-sized two-dimensional lists* where the **size** of a two-dimensional list is the number of rows and columns contained in a two-dimensional list. E.g., if there are 2 two-dimensional lists having 3 rows and 2 columns, then you can create a three-dimensional list using them.

Hence, the equal-sized two-dimensional lists will always have the same number of rows and columns.

**Note:** In a three-dimensional list, we can refer a two-dimensional list as a **block** for the ease of understanding.

Now, let's create a three-dimensional list which contains three equal-sized two-dimensional lists. Let the size of each two-dimensional list be 3 rows and 3 columns. Let each item in the three-dimensional list indicate the position it acquires in the list.

<img src="https://drive.google.com/uc?export=view&id=1PEgi6l1wM-J-HNECNNAMOe8352qECB0J" />


So each item will be of the form $ijk$, where $ijk$ indicates that the item is present in the $i^{th}$ block, $j^{th}$ row and $k^{th}$ column.


Hence,

- if $i = 1, j = 1, k = 1$, then it means the item exists in the first block, first row and first column.

- if $i = 1, j = 1, k = 2$, then it means the item exists in the first block, first row and second column.

- if $i = 1, j = 1, k = 3$, then it means the item exists in the first block, first row and third column.

  -  

  -  

  -  

- if $i = 3, j = 3, k = 1$, then it means the item exists in the third block, third row and first column.

- if $i = 3, j = 3, k = 2$, then it means the item exists in the third block, third row and second column.

- if $i = 3, j = 3, k = 3$, then it means the item exists in the third block, third row and third column.

**NOTE**
While Python allows for non-uniform 3D lists, having uniform 2D lists within a 3D list simplifies many operations, including iteration, indexing, and compatibility with external libraries. Uniform dimensions ensure consistency and ease of manipulation, especially when performing mathematical computations or when the data structure is being processed in a systematic way.

In [ ]:
#Activity : Create a three-dimensional list in Python.
three_dim_list = [
                  [[111, 112, 113],
                   [121, 122, 123],
                   [131, 132, 133]],

                  [[211, 212, 213],
                   [221, 222, 223],
                   [231, 232, 233]],

                  [[311, 312, 313],
                   [321, 322, 323],
                   [331, 332, 333]]
                  ]

three_dim_list

[[[111, 112, 113], [121, 122, 123], [131, 132, 133]],
 [[211, 212, 213], [221, 222, 223], [231, 232, 233]],
 [[311, 312, 313], [321, 322, 323], [331, 332, 333]]]

In [ ]:
three_dim_list[0][2][2]

133

**Note:** The indentation for a nested list is not necessary. We indent a nested list to make it more readable.


In the above example, the number `111` means the item exists in the first block, first row and first column. Similarly, `121` means the item exists in the first block, second row and first column and so on ...

We have 3 blocks where each block is a two-dimensional list. So the blocks represent the third dimension. You can compute the number of blocks contained in a three-dimensional list using the `len()` function.

In [ ]:
#Activity: find the length of 3d list
len(three_dim_list)

3


We can retrieve the items from a three-dimensional list using the list indexing method.

To retrieve an item from a three-dimensional list, you need to write the name of the list, followed by three square brackets. Inside the square brackets, you have to enter the block index, row index and column index in that order.

**Syntax:** `list_name[block_index][row_index][col_index]`

**Note:** The block, row and column indices begin from `0`.

In [ ]:
#Activity : Retrieve 121 from 'three_dim_list' using the list indexing method.
three_dim_list[0][1][0]

121

---

 ## List Comprehension

 It is one of the great features of Python programming as it can create the most complicated lists through only a few lines of code.

### Activity 1: The List Comprehension Method

The list comprehension method creates a Python list in a single line of code. It does not solve a new problem. It only provides a new syntax to solve an existing problem.

The core component of a list comprehension is the `for` loop. To create a list using the list comprehension method, first, write the square brackets `[]`. Then inside the brackets, use the `for` loop.

**Syntax:**
```python
[expression for variable_name in list_or_sequence]
```




Let's create a list of the first `10` natural numbers using the list comprehension method.

In [ ]:
for i in range(1,11):
  print(i)

In [ ]:
# Create a Python list containing the first 10 natural numbers using the 'for' loop.

In [ ]:
 #Create a Python list containing the first 10 natural numbers using the list comprehension method.

The list comprehension `[i for i in range(1, 11)]` should be read as "*Append `i` to the list, for every value of `i` in the range of `1` to `10`.*"

You will notice that the list comprehension eliminated the need of `append()` function.

In [ ]:
old_list = [ 10,20,30,40,50]
new_list = []
for i in old_list:
  new_list.append(i)
print(new_list)

In [ ]:
# Copy items to a new list using list comprehension method

old_list = [50,67,89,87,34]
new_list = [ i for i in old_list]
new_list

**Using conditional statement in list comprehension:**

You can also use a conditional statement in a list comprehension.

**Syntax:**
```python
[expression for variable_name in list_or_sequence if condition]
```

In [ ]:
# Example:
cube = [ i**3 for i in [1,2,3,4,5] if i>2]
cube

In [ ]:
#Create a list of even numbers from 1 to 20 using the conventional list creation method.
even_numbers = []
for i in range(1,21):
  if i % 2 == 0:
    even_numbers.append(i)
even_numbers

In [ ]:
#Create a list of even numbers from 1 and 20 using the list comprehension method.

even_numbers = [ i for i in range(1,21) if i%2 == 0]
even_numbers

The list comprehension `[i for i in range(1, 21) if i % 2 == 0]` should be read as "*Add `i` to the list, for every value of `i` in the range of numbers from `1` to `20`, if `i` is divisible by 2*".

### Activity 2: Nested Lists Using List Comprehension

We can also create nested lists using the list comprehension method.

The creation of nested lists manually is a tedious job. We have to take care of indentation so that the list is readable in the code form. You may miss out on commas, brackets, spaces, etc. while creating a nested list. Hence, the manual nested list creation process becomes time-consuming.

Using list comprehension method, we can create a nested list more neatly and quickly.

Suppose you have two lists and you want to join them into one nested list, then you can use the list comprehension method.

 Let's consider an example with cars, where we have lists of car models, their engine sizes (in liters), fuel efficiency (in kilometers per liter), and top speeds (in kilometers per hour).

We will create a nested list using list comprehension to store this data.


```
car_models = ['Toyota Camry', 'Honda Accord', 'Ford Mustang', 'Chevrolet Malibu', 'BMW 3 Series']
engine_sizes = [2.5, 1.5, 5.0, 2.0, 3.0]
fuel_efficiency = [12.3, 14.0, 6.4, 11.5, 10.6]  
top_speeds = [210, 201, 249, 193, 249]  per hour
```

In [ ]:
# Define lists for car data
car_models = ['Toyota Camry', 'Honda Accord', 'Ford Mustang', 'Chevrolet Malibu', 'BMW 3 Series']
engine_sizes = [2.5, 1.5, 5.0, 2.0, 3.0]
fuel_efficiency = [12.3, 14.0, 6.4, 11.5, 10.6]  # Fuel efficiency in kilometers per liter
top_speeds = [210, 201, 249, 193]  # Top speeds in kilometers per hour

n = len(car_models)

car_data = [ [car_models[i],engine_sizes[i],fuel_efficiency[i]  ] for i in range(n)]
car_data

Now, let's create a nested list using the list comprehension method which has 4 identical sublists containing `0` as its every item.

Here's the desired output:

```
[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
```

In [ ]:
#Create a nested Python list using the list comprehension method,
#which contains 4 identical lists containing 0 as its every item.
z = [0,0,0]

In [ ]:
z = [[[ 0 for i in range(3)] for i in range(4)]for i in range(4)]
z

In [ ]:
list5 = [1,2,3,4]
list5 * 3

In [ ]:
list6 = [4,5,6,7]
list5 + list6

In [ ]:
import numpy as np
list5_arr = np.array(list5)
list5_arr*5